/* == Boxed reddit CSS Theme v1.5 - (http://www.reddit.com/r/boxed/)== */

/* General markup */
/* Font family declaration, fonts can be changed here */
body {
        font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif !important;
        font-weight: normal !important;
}

/* All font sizing is done in the following section */ 
body, .wiki-page .md, body .side .md h6:nth-of-type(1) {
        font-size: 16px !important;
}

.content .usertext-body .md,
.side .sidecontentbox .helplink,
.side .sidebox .morelink,
.linkflairlabel
 {
        font-size: 14px;
}

.hover.pagename.redditname,
.thing .title,
.submit-page .roundfield .title {
        font-size: 18px !important;
}

.side .titlebox, 
#sr-header-area, 
#header-bottom-left .tabmenu, .tabmenu.formtab, 
#header-bottom-right, 
.pref-lang,

.side .usertext-body .md,
.midcol,
.panestack-title,
.panestack-title .title,
.menuarea,
.commentarea .usertext-edit:before,
.markdownEditor a,
.commentingAs,
.usertext-edit .bottom-area a,
.comment-visits-box .title,
.footer,
.submit-page .roundfield,
.submit-page .infobar,
.submit-page .roundfield label,
#RESDropdownOptions,
#image-preview-list,
#image-upload,
.btn.right,
.wiki-page .pageactions,
#search-expando,
body:not(.search-page) #search input[type="text"],
#searchexpando,
.raisedbox, 
.searchpane,
.hover-bubble,
.deepthread {
        font-size: 12px !important;
}

#header-bottom-right .userkarma,
.side .linkinfo, 
.side .linkinfo .number, 
.side .linkinfo .word, 
.side .linkinfo .shortlink, 
.side .subscribe-button.fancy-toggle-button.toggle a,
.side .subButtons span,
.side .subscribers,
.side .users-online,
.side .leavemoderator,
.side .titlebox .toggle,
.tagline,
body .side .title,
.side .sidecontentbox,
.account-activity-box,
.tagline,
.flat-list,
.bottommenu,
.submit-page .roundfield #suggested-reddits {
        font-size: 10px !important;
}
/* reddit companion + sticky announcements fix */
html {
        position: relative;
}

body {
        background-image:url(%%ComicBooksBackground2%%);
        background-repeat:no-repeat;
        background-position: top center;
        background-color: #C9D6E2;
        color: #000000;
}

* {
        border-radius: 0px !important;
}

.hover.pagename.redditname {
        display: inline-table;
        color:#f1ea1f;
        letter-spacing: 2px;
        font-variant: normal;
        text-transform: capitalize;
        font-weight: normal;
}

.hover.pagename.redditname > a:before {
        content: "";
        color:#f1ea1f;
        text-transform: none;
}

.hover.pagename.redditname a {
        position: absolute;
        font-size: 0px;
        display: block;
        height: 130px;
        width: 720px;
        top: 20px;
        left: 150px;
}

input {
        border: 1px solid #C1BFBF !important;
}

.rounded {
        border-radius: 0px !important;
}

.roundfield, #REScommentSubToggle, #header-bottom-right, #userbarToggle {
        border-radius: 0px !important;
}

.roundfield, .content.submit .info-notice, .linefield {
        background-color: #F5F5F5;
        border-width: 1px 0px;
        border-style: solid;
        border-color: #C1BFBF;
}

.entry {
        padding: 3px;

        border-right: 1px solid;
        border-color: transparent;
}

body .content .sitetable .thing.spam, body .sitetable .thing.spam.deleted.link.self{
border: solid 2px #FA8072 !important;
}

body .content .sitetable .thing.spam, body .sitetable .thing.spam.deleted.link.self{
border: solid 2px #FA8072 !important;
}

.keyHighlight, .RES-keyNav-activeElement, div .RES-keyNav-activeElement {
        outline-width: 0px !important;
        border-right: 1px dotted #C1BFBF!important;
}

.link.last-clicked {
        border: 0px !important;
}

a.title {
        color: #4D6277 !important;
}

a.title:hover {
        color: #4D6277!important;
        text-decoration: underline !important;
}

a.title:visited {
        color: #6b8baa !important;
}

a.title:visited:hover {
        color: #6b8baa !important;
        text-decoration: underline !important;
}

.sitetable .md {
        max-width: 50em!important;
        
}



/* Header markup */

#sr-header-area {
        text-transform: lowercase;
        
}

#sr-header-area a {
        
}

#userbarToggle.userbarHide, #userbarToggle.userbarShow {
        background-color: #4D6277;
        color: #4D6277;
        width: 6px;
        left: 0px;
}

#header {
        background-image:url(%%ComicBooksHeader6%%);
        height:180px;
        border-bottom: 1px solid #9A9A9A !important;
        box-shadow: 0px 1px 3px 1px #B3C2D1;
}

#sr-header-area {
        background-color: #FAFAFA;
        color: #333333;
        border-bottom: 1px solid #9A9A9A !important;
}

#RESShortcutsEditContainer, #RESShortcutsRight, #RESShortcutsAdd, #RESShortcutsTrash, #RESShortcutsLeft, #sr-more-link, #RESShortcutsSort {
        background-color: #FAFAFA !important;
}

#header-bottom-right {
        background-color: #FFFFFF;
        color: #333333;
        border: 0px solid #9A9A9A!important;
        top: 190px !important;
        height: 21px !important;
        line-height: 21px !important;
        vertical-align: middle !important;
        padding: 6px 3px 4px 5px !important;
        margin-right: 20px;
}

#header-bottom-right * {
        vertical-align: bottom !important;
}
#header-bottom-right a {
        color: #333333;
}

#header-bottom-right #mail {
        margin: 0;
        top: -5px;
        margin-right: -2px;
        bottom: auto;
}

#header-bottom-right #mail.havemail {
    background:url(%%Envelope%%) no-repeat scroll 0px 0px transparent;
    left: -3px !important;
    top: -3px !important;
    margin-right: 0px !important;
    width: 18px !important;
    height: 15px;
}


#header-bottom-right #modmail {
        margin: 0;

        top: -2px !important;
        bottom: auto;
}


#RESSettingsButton {
margin: auto auto 2px;
}

/* Header tab menu */

#header-bottom-left  .tabmenu li a {
        border: 0 !important;
        background: #FFF;
        color: #333333;
        border-left: 5px solid #f0ce42!important;
        border-bottom: 0px !important;
        margin: 0px !important;
        font-weight: normal;
        padding: 0px 12px;
}

#header-bottom-left  .tabmenu li:hover a {
        border: 0 !important;
        background: #C9D6E2;
        color: #333333;
        border-left: 5px solid #f0ce42!important;
        border-bottom: 0px !important;
        margin: 0px !important;
        font-weight: normal;
        padding: 0px 12px;
}

#header-bottom-left  .tabmenu li {
        margin: 1px;
}

#header-bottom-left  .tabmenu li.selected a {
        border: 0 !important;
        background: #4D6277;
        color: #FFF;
        border-left: 5px solid #f0ce42!important;
}

/*Upvotes and Downvotes*/

/*.arrow.upmod {
    background-image:url(%%Upvote%%);
    background-position: 0px 0px;
    height: 20px;
    width: 20px;
}

.arrow.downmod {
    background-image:url(%%Downvote2%%);
    background-position: 0px 0px;
    height: 20px;
    width: 20px;
}

.arrow.up {
    background-image:url(%%UpvoteUnclicked%%);
    background-position: 0px 0px;
    height: 20px;
    width: 20px;
}

.arrow.down {
    background-image:url(%%DownvoteUnclicked%%);
    background-position: 0px 0px;
    height: 20px;
    width: 20px;
}*/

/* Flair formatting flairs are labeled alphabetically  */

.linkflairlabel {
        display:block;
        background-color: transparent;
        
        font-weight: bold;
        border-width: 0px;
        border-radius: 0px;
        float: right;
        color: #000000;
        /* color: #C1BFBF; */
}

.thing.linkflair.linkflair-fanart, .flairselector .linkflair-fanart {
border-right: 10px solid #50bd7f;
border-left: 10px solid #50bd7f;
}

.thing.linkflair.linkflair-fanart .linkflairlabel {
border-bottom: solid 3px #50bd7f;
}

.thing.linkflair.linkflair-discussions, .flairselector .linkflair-discussions {
border-right: 10px solid #5caadb;
border-left: 10px solid #5caadb;
}

.thing.linkflair.linkflair-discussions .linkflairlabel {
border-bottom: solid 3px #5caadb;
}

.thing.linkflair.linkflair-coverart, .flairselector .linkflair-coverart {
border-right: 10px solid #a879b6;
border-left: 10px solid #a879b6;
}

.thing.linkflair.linkflair-coverart .linkflairlabel {
border-bottom: solid 3px #a879b6;
}
.thing.linkflair.linkflair-reviews, .flairselector .linkflair-reviews {
border-right: 10px solid #e8964f;
border-left: 10px solid #e8964f;
}

.thing.linkflair.linkflair-reviews .linkflairlabel {
border-bottom: solid 3px #e8964f;
}

.thing.linkflair.linkflair-pulllist, .flairselector .linkflair-pulllist {
border-right: 10px solid #96a2a4;
border-left: 10px solid #96a2a4;
}

.thing.linkflair.linkflair-pulllist .linkflairlabel {
border-bottom: solid 3px #96a2a4;
}

.thing.linkflair.linkflair-cinema, .flairselector .linkflair-cinema {
border-right: 10px solid #4D6277;
border-left: 10px solid #4D6277;
}

.thing.linkflair.linkflair-cinema .linkflairlabel {
border-bottom: solid 3px #4D6277;
}

.thing.linkflair.linkflair-games, .flairselector .linkflair-games {
border-right: 10px solid #4bb29d;
border-left: 10px solid #4bb29d;
}

.thing.linkflair.linkflair-games .linkflairlabel {
border-bottom: solid 3px #4bb29d;
}

.thing.linkflair.linkflair-swagbag, .flairselector .linkflair-swagbag {
border-right: 10px solid #f0ce42;
border-left: 10px solid #f0ce42;
}

.thing.linkflair.linkflair-swagbag .linkflairlabel {
border-bottom: solid 3px #f0ce42;
}

.thing.linkflair.linkflair-weekendlounge, .flairselector .linkflair-weekendlounge {
border-right: 10px solid #c45458;
border-left: 10px solid #c45458;
}

.thing.linkflair.linkflair-weekendlounge .linkflairlabel {
border-bottom: solid 3px #c45458;
}

/* Listing of submissions */
.expando {
        border-bottom: dotted 1px #C1BFBF;
}

.expando-button {
        margin: 5px 5px 2px 0;
}

.entry .tagline {
        margin-top: 5px;
}

.entry .buttons li a {
        font-weight: normal;
}

.link .entry li .comments {
        font-weight: bold;
}

body div.content {
        margin: 30px 0px 0px 5px !important;
        padding: 20px 0px 0px !important;
}

.rank {
        display: none;
}

.link .midcol {
        margin-right: 3px;
        margin-left: 0px;
        margin-top: 7px;
}

.linklisting {
        bottom: 0px;
        margin-top: 0px;
        padding: 0px !important;
        border: 0 !important;
        margin-left: 20px;
}

.linklisting .odd:first-child {
        border-top: 0px none !important;
}

.linklisting .odd {
        overflow: hidden !important;
        margin: 0px 20px 0px 0px!important;
        padding: 5px 5px 10px 10px !important;
        background-color: #FAFAFA;
        min-height: 50px !important;
        box-shadow: 0px 3px 3px 1px #A5B9CE;
}

.linklisting .even {
        overflow: hidden !important;
        margin: 0px 20px 0px 0px!important;
        padding: 5px 5px 10px 10px !important;
        background-color: #F5F5F5;
        min-height: 50px !important;
        box-shadow: 0px 3px 3px 1px #A5B9CE;
}

/*  RES neverending reddit fixes */

#progressIndicator {
        margin-left: 20px !important;
        border-radius: 0px !important;
        box-shadow: 0px 1px 3px 1px #A5B9CE;
        width: 97% !important;
        margin-top: 5px !important;
        background-color: #F5F5F5;
        border-color: #C1BFBF !important;
}

.linklisting .linklisting {
        margin-left: 0px !important;
        border: none !important;
        box-shadow: none !important;
}

.NERPageMarker, body .content #progressIndicator {
        background-color: #F5F5F5 !important;
        border: 0 !important;
        border-radius: 0px !important;
        margin-right: 20px !important;
        box-shadow: 0px 1px 3px 1px #A5B9CE !important;
        width: auto !important;
}

#NERFail {
        width: 99% !important;
        height: auto !important;
        border-width: 0px !important;
}


/* comments */
.sitetable .comment {
        border-radius: 0px !important;
}

.panestack-title {
        margin: 0 !important;
        padding-bottom: 3px;
        border-bottom: 1px dotted #808080;
        background-color: #FFF;
        box-shadow: 0px 3px 3px 1px #A5B9CE;
        padding: 5px 5px 5px 30px;
        overflow: auto;
}

.commentarea .menuarea, .commentarea .infobar {
        margin: 0 !important;
        border: none;
        color: #808080;
        background-color: #FFF;
        box-shadow: 0px 3px 3px 1px #A5B9CE;
        padding: 5px 5px 5px 30px;
        overflow: auto;
}

.commentarea>.usertext {
        margin: 0 !important;
        overflow: auto;
        background-color: #FFF;
        box-shadow: 0px 3px 3px 1px #A5B9CE;
        padding: 5px 5px 5px 30px;
}

.pretty-form {
        padding: 5px 5px 5px 30px;
        background-color: #FFF;
        border: 0;
        box-shadow: 0px 1px 3px 1px #A5B9CE;
        margin-left: 20px !important;
        overflow: auto;
}

.gold-accent.comment-visits-box {
        color: #583800;
        padding: 7px 10px 7px 30px;
        box-shadow: 0px 3px 3px 1px #A5B9CE;
        background-color: #FFF;
        margin: 0 !important;
        overflow: auto;
        display: block;
        max-width: 100%;
        border-color: #FFF;
}

.sitetable.nestedlisting > .comment {
        margin-left: 0px !important;
        margin-right: 20px!important;
        margin-top: 0!important;
        margin-bottom: 5px !important;
        background-color: #FFF !important;
        border: 0 !important;
        padding: 5px 8px 0 5px!important;
        box-shadow: 0px 3px 3px 1px #A5B9CE;
        overflow: auto;
}

.sitetable.nestedlisting {
        margin-top: 5px;
}

.commentarea {
        margin-top: 5px;
        margin-left: 20px;
        padding: 0px !important;
        border: 0;
}

.md h1, .commentarea h1 {
        padding-bottom: 3px;
        border-bottom: 1px dotted #C1BFBF;
        font-weight: bold;
}

.md h2, .commentarea h2 {
        padding-bottom: 3px;
        border-bottom: 1px dotted #C1BFBF;
        font-weight: bold;
        
}

.md h3, .commentarea h3 {
        padding-bottom: 3px;
        border-bottom: 1px dotted #C1BFBF;
        font-weight: bold;
        
}

.link .usertext .md {
        padding: 0px 5px;
        border: 0;
}

.gold-accent, .infobar {
        border-radius: 0px !important;
        border-color: #C1BFBF;
        background-color: #F5F5F5;
        margin: 0px 20px 10px 20px!important;
        overflow: auto;
        box-shadow: 0px 1px 3px 1px #A5B9CE;
}

#noresults {
        margin-left: 10px !important;
}

/* code numbering, based on the css found at /r/modtools */
.md pre {
        background-color: #F5F5F5 !important;
        border-left: 31px solid #4D6277;
        position: relative;
        margin-top: 25px;
        line-height: 15px;
        font-family: "Courier New",courier,monospace;
        box-shadow: 0px 1px 3px 1px #F5F5F5;
}

.md pre code {
        padding: 15px;
        overflow: auto;
        display: block;
        line-height: 15px;
        font-family: "Courier New",courier,monospace;
}

.md pre:after {
        position: absolute;
        content: "code:";
        color: gray;
        top: -20px;
        left: -30px;
}

.md pre:before {
        height: 100%;
        color: white;
        position: absolute;
        left: -28px;
        width: 25px;
        white-space: pre-wrap;
        direction: rtl;
        overflow: hidden;
        content: "#   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250";
}

/* Make distinguished users stand out more (mods, op and friends) */
.tagline .author.submitter {
        color: white !important;
        background-color: #0055df !important;
        font-weight: bold !important;
        border-radius: 0px !important;
        padding: 0px 2px !important;
}

.tagline .author.moderator {
        color: white !important;
        background-color: #228822 !important;
        font-weight: bold !important;
        border-radius: 0px !important;
        padding: 0px 2px !important;
}

.tagline .author.friend {
        color: white !important;
        background-color: #FF4500 !important;
        font-weight: bold !important;
        border-radius: 0px !important;
        padding: 0px 2px !important;
}

/* nested commentary boxes, credits for this piece of code go to someone else */

.comment .child, .comment .showreplies {
        border-left: 0px !important;
}

.comment {
        margin-left: 10px !important;
        margin-right: 5px!important;
        margin-top: 0!important;
        margin-bottom: 8px !important;
        background-color: #ffffff !important;
        border: 1px solid #e6e6e6 !important;
        padding: 5px 8px 0 5px!important;
}

.comment,
.comment .comment .comment,
.comment .comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment .comment .comment .comment {
        background-color: #fff !important;
}

.comment .comment,
.comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
        background-color: #F7F7F8!important;
}




/* comment quotes */

#siteTable blockquote:before, .noncollapsed .usertext blockquote:before {
        content: '“';
        
        font-family: Georgia, serif;
        margin: 0;
        position: relative;
        line-height: 5px;
        top: 10px;
        opacity: 0.2;
}

#siteTable blockquote, .noncollapsed .usertext blockquote p {
        margin: 0;
        
}

#siteTable blockquote:after, .noncollapsed .usertext blockquote:after {
        content: '”';
        
        font-family: Georgia, serif;
        text-align: right;
        width: 98%;
        display: block;
        line-height: 20px;
        opacity: 0.2;
        position: relative;
}

#siteTable blockquote, .noncollapsed .usertext blockquote {
        display: block;
        background-color: #F5F5F5;
        border-style: solid;
        border-width: 1px 1px 1px 3px;
        border-color: #C1BFBF;
        margin: 5px !important;
        padding: 5px;
        color: #333333;
}

/* table comment borders */

.md td, .md th {
        border: 1px solid #C1BFBF !important;
}

/* flair settings */
.flair-settings.fancy-settings > h1 {
        margin: 0px 0px 5px 20px;
        background-color: #FFFFFF;
        border: 0;
        box-shadow: 0px 1px 3px 1px #A5B9CE;
        padding: 5px;
        overflow: auto;
}

.content .tabmenu {
        margin: 0px 0px 0px 20px !important;
}

.tabpane-content {
        padding: 5px;
        margin-top: 0px;
        margin-left: 20px;
        background-color: #FFFFFF;
        border: 0;
        box-shadow: 0px 1px 3px 1px #A5B9CE;
        overflow: auto;
}


/* css settings */
.pretty-form {
        padding: 5px;
        background-color: #FFFFFF;
        border: 0;
        box-shadow: 0px 1px 3px 1px #A5B9CE;
        margin-left: 20px;
}

#images {
        padding: 5px;
        margin-top: 5px;
        margin-left: 20px;
        background-color: #FFFFFF;
        border: 0;
        box-shadow: 0px 1px 3px 1px #A5B9CE;
        overflow: auto;
}

/* Custom stylesheet */
.stylesheet-customize-container {
        width: 100%;
}

#stylesheet_contents {
        padding-left: 5px;
        padding-top: 5px;
        background-color: white;
        color: #4D6277;
        height: 500px;
}

#subreddit_stylesheet {
        display: block;
        overflow: hidden;
}

.sheets {
        margin: 0;
}

/* submitting  */
#newlink {
        padding: 5px;
        margin-top: 5px;
        margin-left: 20px;
        background-color: #FFFFFF;
        border: 0;
        box-shadow: 0px 1px 3px 1px #A5B9CE;
        overflow: auto;
}

#link-desc.infobar, #text-desc.infobar {
        display: none !important;
}

.content > h1 {
        margin: 0px 5px 5px 20px;
        background-color: #FFFFFF;
        border: 0;
        box-shadow: 0px 1px 3px 1px #A5B9CE;
        padding: 5px;
        overflow: auto;
}

.formtabs-content {
        border-top: 4px solid #C1BFBF !important;
        padding-top: 0px !important;
}

.formtabs-content div:nth-child(1), .formtabs-content div:nth-child(2) {
        margin: 0px !important;
}

li.selected a.link-button, li.selected a.text-button {
        border: 0 !important;
        background: #C9D6E2 !important;
        color: #333333 !important;
        border-left: 3px solid #4D6277 !important;
        border-bottom: 0px !important;
}

a.link-button, a.text-button {
        border: 0 !important;
        background: #EFEFEF !important;
        color: #333333 !important;
        border-left: 3px solid #4D6277 !important;
}


/* Spoiler tags */
a[href$="#spoiler"] {
        background: #4D6277 !important;
        color: #4D6277 !important;
        border: 1px solid #4D6277;
        padding-right: 1px;
}

a[href$="#spoiler"]:hover {
        color: #FFF !important;
}

a[href$="#spoiler"]::before {
        background: #FFF !important;
        color: #000 !important;
        padding: 0px 1px;
        margin: 0px;
        margin-right: 1px;
}

a[href$="#spoiler"]::before {
        content: "Spoiler";
}

a[href$="#spoiler"][title]::before {
        content: attr(title) " Spoiler";
}

/* Sidebar stuff */

.login-form-side {
        background-color: #F5F5F5;
        border-width: 3px 0px 3px 0px;
        border-style: solid;
        border-color: #C1BFBF;
}

.side .bottom {
        display: none !important;
}

#search {
        text-align: center;
}

#search input[type="text"] {
        border: 1px solid #C1BFBF;
}

.side .md {
        overflow: hidden;
}

.flat-vert.icon-menu.hover a {
        background-color: #F5F5F5 !important;
}

.side {
        background-image:url(%%pdcover%%);
        background-repeat:no-repeat;
        background-position:top left;
        width: 300px;
        margin: 50px 20px 20px 10px;
        padding-top:475px;
        padding-right:5px;
        padding-left:5px;
        z-index: 0;
        border: 0;
        box-shadow: 0px 1px 3px 1px #A5B9CE;
        overflow: hidden;
}

.side hr {
        visibility: hidden;
}

.side blockquote {
        display: block;
        background-color: #F5F5F5;
        border-width: 1px 0px;
        border-style: solid;
        border-color: #C1BFBF;
        margin: 0px;
        margin-bottom: 5px;
        padding: 5px;
        box-shadow: 0px 1px 3px 1px #F5F5F5;
}

.sidecontentbox .content {
        display: block;
        background-color: #F5F5F5;
        border-width: 1px 0px;
        border-style: solid;
        border-color: #C1BFBF;
        margin: 0px;
        margin-bottom: 5px;
        padding: 5px;
}

#searchexpando {
        border-radius: 0px !important;
        border-color: #C1BFBF;
        background-color: #F5F5F5;
}


/* Link info*/
.linkinfo {
        background-color: white;
        color: #363636;
        text-align: center;
        
        padding: 10px 0px 15px 0px;
        border: 0;
        width: 300px;
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 0px !important;
}

.linkinfo .downvotes .number, .linkinfo .upvotes .number, .linkinfo .score .number {
        
        display: block;
        font-weight: normal !important;
}

.linkinfo .score .word {
        display: none;
}

.linkinfo .score {
        
        display: block;
        min-width: 80px;
        margin-left: 30px !important;
}

.linkinfo .downvotes .word, .linkinfo .upvotes .word {
        
}

.linkinfo .upvotes, .linkinfo .downvotes, .linkinfo .score {
        float: left;
        padding: 5px 10px 5px 0;
        margin: 8px 10px 10px 0;
        text-align: center;
}

.linkinfo .score, .linkinfo .upvotes {
        border-right: 1px solid #C1BFBF;
}

.linkinfo .shortlink {
        clear: both !important;
        
        margin: 0px 20px 0px 20px;
        border: 1px solid #E7E6E6;
        text-align: center;
}

.linkinfo .shortlink input {
        background: transparent;
        border: 0px !important;
        padding-left: 8px;
        
        margin-left: auto;
        margin-right: auto;
}

.linkinfo .date {
        padding: 8px;
        margin-top: -10px;
        margin-bottom: 7px;
        color: #333333;
        background-color: #C9D6E2;
        
}


/* sidebar dropdown menus */
.titlebox .md ul {
        margin: 0;
}

.titlebox ul li {
        background-color: #f2f2f2;
        border: none;
        color: black;
        display:block;
        padding: 3px 3px 3px 13px;
        text-align: left;
        border-top: 1px solid #CCCCCC;
        border-left: 3px solid #4D6277;
        margin: 0px;
}

.titlebox ul li:hover {
        background-color: #DDDDDD;
}

.titlebox ul li:nth-child(1):not(.flairsample-left) {
        display: block;
        color: black;
        background-color: #EFEFEF;
        display: inline-block;
        
        border: 0px;
        border-bottom: 0px dotted #888888;
        border-left: 3px solid #4D6277;
        padding: 3px 3px 3px 13px;
        width: 100%;
}

.titlebox ul li:nth-child(1):not(.flairsample-left):hover {
        color: black;
        background-color: #C9D6E2;
}

.titlebox ul:hover > li {
        display: block;
}

.titlebox ul li a:hover {
        color: black;
}


/* sidebar submit buttons */
.morelink .nub {
        background: none !important;
}

.morelink {
        border: 0;
        background: #EFEFEF !important;
        color: #333333;
        border-left: 5px solid #4D6277;
        border-right: 5px solid #4D6277;
}

.morelink:hover {
        background: #C9D6E2 !important;
        border-color: #C1BFBF;
        border-left: 5px solid #4D6277;
        border-right: 5px solid #4D6277;
}

.morelink a {
        color: #333333;
}

.morelink:hover a {
        text-decoration: none !important;
        color: #333333;
}


/* sidebar icons stolen from rolmos's edurne theme */
 .side a[href*='#icon-'] {
    color:#000!important;
    cursor:default;
}

.side a[href*='#icon-']:hover {
    text-decoration:none;
}

.side a[href*='#icon-']::before {
    display:inline-block;
    height:16px;
    width:16px;
    content:'';
    margin:0 5px -1px 0;
    background:url(%%sprites-05%%) 30px 30px no-repeat;
}
.side a[href='#icon-exclamation']::before {
    background-position:-16px -32px;
}
.side a[href='#icon-information']::before {
    background-position:-54px -51px;
}
.side a[href='#icon-lightbulb']::before {
    background-position:-16px -51px;
}
.side a[href='#icon-comments']::before {
    background-position:-35px -89px;
}
.side a[href='#icon-unhappy']::before {
    background-position:-73px -89px;
}
.side a[href='#icon-check']::before {
    background-position:-73px -51px;
}
.side a[href='#icon-clock']::before {
    background-position:-35px -51px;
}
.side a[href='#icon-cross']::before {
    background-position:-35px -70px;
}
.side a[href='#icon-smile']::before {
    background-position:-54px -89px;
}
.side a[href='#icon-error']::before {
    background-position:-54px -32px;
}
.side a[href='#icon-note']::before {
    background-position:-54px -70px;
}
.side a[href='#icon-star']::before {
    background-position:-73px -32px;
}
.side a[href='#icon-help']::before {
    background-position:-16px -70px;
}
.side a[href='#icon-time']::before {
    background-position:-73px -70px;
}
.side a[href='#icon-bell']::before {
    background-position:-35px -32px;
}
.side a[href='#icon-eye']::before {
    background-position:-16px -89px;
}


/* lets put the mess of buttons and info in something that looks like a box */
 .side .redditname {
    display:block;
    background-color:#F5F5F5;
    border-width:3px 0px 0px 0px;
    border-style:solid;
    border-color: #C1BFBF;
    margin: 5px 0px 0px 0px;
    padding: 5px;
}

.side .redditname {
    margin-bottom: -27px !important;
    padding-bottom: 29px !important;
}



.styleToggle, .subscribers, .users-online, .leavemoderator, form.flairtoggle, .toggle.leavecontributor-button {
    display:block;
    background-color:#F5F5F5 !important;
    border: 0px;
    margin: 0px;
    padding: 5px;
}

.subscribers {
margin-top: -29px!important;
padding-top: 29px!important;
}

.users-online .word{display:none}
.users-online .number:after{content:" True Believers online";}

.subscribers .word{display:none}
.subscribers .number:after{content:" True Believers";}

.side .tagline {
    display:block;
    background-color:#F5F5F5;
    border-width:0px 0px 3px 0px;
    border-style:solid;
    border-color: #C1BFBF;
    margin: 0px 0px 15px 0px!important;
    padding: 5px;
}

.side .spacer .titlebox div:nth-of-type(1):not(.flairselector):not(.md):not(.usertext-body) {
    display:block !important;
    background-color:#F5F5F5;
    border: 0 !important;
    margin: 0 !important;
    padding: 5px !important;
}


/* the subscribe and res buttons */
 .fancy-toggle-button .remove {
    background-image: none;
    background-color: #DD513B;
    border-radius: 0px !important;
}

.fancy-toggle-button .add {
    background-image: none;
    background-color: #4D6277;
    border-radius: 0px !important;
}

.subButtons .RESshortcutside {
    width: auto;
    display: inline-block;
}
.RESshortcutside, .RESDashboardToggle {
    color: white;
    background-image: none !important;
    background-color: #4D6277;
    border-radius: 0px !important;
}

.RESshortcutside:hover, .RESDashboardToggle :hover {
    color: white;
    background-image: none !important;
    background-color: #4D6277 !important;
    border-radius: 0px !important;
}

.RESshortcutside.remove, .RESDashboardToggle.remove {
    color: white;
    background-image: none !important;
    background-color: #DD513B;
    border-radius: 0px !important;
}

.RESshortcutside.remove:hover, .RESDashboardToggle.remove:hover {
    color: white;
    background-image: none !important;
    background-color: #DD513B !important;
    border-radius: 0px !important;
}

/* Sticky, edit text in the sidebar  */
 .side .md h3:nth-of-type(1) {
    position:absolute;
    height: 17px !important;
    line-height: 17px !important;
    top:190px;
    left:25px;
    display:block;
    border-bottom:0;
    border-left: 10px solid #4D6277;
    box-shadow: 0px 1px 3px 1px #A5B9CE;
    background:#FFFFFF;
    text-align:left;
    
    color:#333333;
    font-weight:bold;
    padding:7px 7px 7px 27px;
    right: 20px;
}

/* wiki formatting */
div.wiki div.toc>ul:before {
        display: block!important;
        content: "Table of Contents";
        color: #99A;
        text-align: center;
        margin-top: -5px;
        margin-bottom: 5px;
}

#wiki_page_content, #wiki_revision_reason {
        max-width: 98%;
}

        

.wikititle {
        background-color: #FFF;
        border: 0;
        box-shadow: 0px 1px 3px 1px #A5B9CE;
        padding: 5px;
        margin: 0px 0px 10px 20px!important;
        display: block !important;
        overflow: auto;
}

.pageactions {
        background-color: #FFF;
        border: 0;
        box-shadow: 0px 3px 3px 1px #A5B9CE;
        padding: 0px;
        margin: 0px 0px 0px 20px!important;
        display: block !important;
        overflow: auto;
}

.wiki-page-content {
    background-color: #FFFFFF;
    border: 0;
        box-shadow: 0px 3px 3px 1px #A5B9CE;
    padding: 5px;
    margin: 0px 0px 0px 20px !important;
        overflow:auto;
}

.wiki-page .pageactions {
    border: 0px !important;
}

.wikiaction {
    border-radius: 0px !important;
}

.wiki-page .wiki-page-content .md.wiki > .toc > ul {
    margin:0px !important;
        background-color: #F5F5F5;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #C1BFBF;
}

.toc a {
    
}

.toc {
    float: right;
    max-width: 40%;
        border-color: #C1BFBF;
}

/* ==Boxed reddit CSS Theme v1.5 - (http://www.reddit.com/r/boxed/)== */