/* == Boxed reddit CSS Theme v1.5 - (http://www.reddit.com/r/boxed/)== */

/* General markup */
/* Font family declaration, fonts can be changed here */
body {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif !important;
	font-weight: normal !important;
}

/* All font sizing is done in the following section */ 
body, .wiki-page .md, body .side .md h6:nth-of-type(1) {
	font-size: 16px !important;
}

.content .usertext-body .md,
.side .sidecontentbox .helplink,
.side .sidebox .morelink,
.linkflairlabel
 {
	font-size: 14px;
}

.hover.pagename.redditname,
.thing .title,
.submit-page .roundfield .title {
	font-size: 18px !important;
}

.side .titlebox, 
#sr-header-area, 
#header-bottom-left .tabmenu, .tabmenu.formtab, 
#header-bottom-right, 
.pref-lang,

.side .usertext-body .md,
.midcol,
.panestack-title,
.panestack-title .title,
.menuarea,
.commentarea .usertext-edit:before,
.markdownEditor a,
.commentingAs,
.usertext-edit .bottom-area a,
.comment-visits-box .title,
.footer,
.submit-page .roundfield,
.submit-page .infobar,
.submit-page .roundfield label,
#RESDropdownOptions,
#image-preview-list,
#image-upload,
.btn.right,
.wiki-page .pageactions,
#search-expando,
body:not(.search-page) #search input[type="text"],
#searchexpando,
.raisedbox, 
.searchpane,
.hover-bubble,
.deepthread {
	font-size: 12px !important;
}

#header-bottom-right .userkarma,
.side .linkinfo, 
.side .linkinfo .number, 
.side .linkinfo .word, 
.side .linkinfo .shortlink, 
.side .subscribe-button.fancy-toggle-button.toggle a,
.side .subButtons span,
.side .subscribers,
.side .users-online,
.side .leavemoderator,
.side .titlebox .toggle,
.tagline,
body .side .title,
.side .sidecontentbox,
.account-activity-box,
.tagline,
.flat-list,
.bottommenu,
.submit-page .roundfield #suggested-reddits {
	font-size: 10px !important;
}
/* reddit companion + sticky announcements fix */
html {
	position: relative;
}

body {
	background-color: #C9D6E2;
	color: #000000;
}

* {
	border-radius: 0px !important;
}

.hover.pagename.redditname {
	display: inline-table;
	letter-spacing: 2px;
	font-variant: normal;
	text-transform: capitalize;
	font-weight: normal;
}

.hover.pagename.redditname > a:before {
	content: "/r/";
	text-transform: none;
}

.hover.pagename.redditname a {
	display: table-cell;
	vertical-align: bottom;
}

input {
	border: 1px solid #C1BFBF !important;
}

.rounded {
	border-radius: 0px !important;
}

.roundfield, #REScommentSubToggle, #header-bottom-right, #userbarToggle {
	border-radius: 0px !important;
}

.roundfield, .content.submit .info-notice, .linefield {
	background-color: #F5F5F5;
	border-width: 1px 0px;
	border-style: solid;
	border-color: #C1BFBF;
}

.entry {
	padding: 3px;

        border-right: 1px solid;
        border-color: transparent;
}

body .content .sitetable .thing.spam, body .sitetable .thing.spam.deleted.link.self{
border: solid 2px #FA8072 !important;
}

body .content .sitetable .thing.spam, body .sitetable .thing.spam.deleted.link.self{
border: solid 2px #FA8072 !important;
}

.keyHighlight, .RES-keyNav-activeElement, div .RES-keyNav-activeElement {
	outline-width: 0px !important;
	border-right: 1px dotted #C1BFBF!important;
}

.link.last-clicked {
	border: 0px !important;
}

a.title {
	color: #4D6277 !important;
}

a.title:hover {
	color: #4D6277!important;
	text-decoration: underline !important;
}

a.title:visited {
	color: #6b8baa !important;
}

a.title:visited:hover {
	color: #6b8baa !important;
	text-decoration: underline !important;
}

.sitetable .md {
	max-width: 50em!important;
	
}



/* Header markup */

#sr-header-area {
	text-transform: lowercase;
	
}

#sr-header-area a {
	
}

#userbarToggle.userbarHide, #userbarToggle.userbarShow {
	background-color: #4D6277;
	color: #4D6277;
	width: 6px;
	left: 0px;
}

#header {
	border-bottom: 1px solid #9A9A9A !important;
    box-shadow: 0px 1px 3px 1px #B3C2D1;
}

#sr-header-area {
	background-color: #FAFAFA;
	color: #333333;
	border-bottom: 1px solid #9A9A9A !important;
}

#RESShortcutsEditContainer, #RESShortcutsRight, #RESShortcutsAdd, #RESShortcutsTrash, #RESShortcutsLeft, #sr-more-link, #RESShortcutsSort {
	background-color: #FAFAFA !important;
}

#header-bottom-right {
	background-color: #FFFFFF;
	color: #333333;
	border: 0px solid #9A9A9A !important;
	top: 75px !important;
	height: 21px !important;
	line-height: 21px !important;
	vertical-align: middle !important;
	padding: 6px 3px 4px 5px !important;
        margin-right: 20px;
}

#header-bottom-right * {
	vertical-align: bottom !important;
}
#header-bottom-right a {
	color: #333333;
}

#header-bottom-right #mail {
	margin: 0;
	top: -5px !important;
	margin-right: 3px;
	bottom: auto;

}

#header-bottom-right #modmail {
	margin: 0;

	top: -2px !important;
	bottom: auto;
}


#RESSettingsButton {
margin: auto auto 2px;
}

/* Header tab menu */

#header-bottom-left  .tabmenu li a {
	border: 0 !important;
	background: #FFF;
	color: #333333;
	border-left: 3px solid #4D6277 !important;
	border-bottom: 0px !important;
	margin: 0px !important;
	font-weight: normal;
	padding: 0px 12px;
	
}

#header-bottom-left  .tabmenu li {
	margin: 1px;
}

#header-bottom-left  .tabmenu li.selected a {
	border: 0 !important;
	background: #EFEFEF;
	color: #333333;
	border-left: 3px solid #4D6277 !important;
	
}

/* Flair formatting flairs are labeled alphabetically  */

.linkflairlabel {
        display:block;
	background-color: transparent;
	
	font-weight: bold;
	border-width: 0px;
	border-radius: 0px;
	float: right;
	color: #C1BFBF;
}

.thing.linkflair.linkflair-a, .flairselector .linkflair-a {
border-right: 10px solid #E18879;
}

.thing.linkflair.linkflair-a .linkflairlabel {
border-bottom: solid 1px #E18879;
}

.thing.linkflair.linkflair-b, .flairselector .linkflair-b {
border-right: 10px solid #e1aa79;
}

.thing.linkflair.linkflair-b .linkflairlabel {
border-bottom: solid 1px #e1aa79;
}

.thing.linkflair.linkflair-c, .flairselector .linkflair-c {
border-right: 10px solid #bbe179;
}

.thing.linkflair.linkflair-c .linkflairlabel {
border-bottom: solid 1px #bbe179;
}
.thing.linkflair.linkflair-d, .flairselector .linkflair-d {
border-right: 10px solid #79e1d1;
}

.thing.linkflair.linkflair-d .linkflairlabel {
border-bottom: solid 1px #79e1d1;
}

.thing.linkflair.linkflair-e, .flairselector .linkflair-e {
border-right: 10px solid #e1db79;
}

.thing.linkflair.linkflair-e .linkflairlabel {
border-bottom: solid 1px #e1db79;
}

.thing.linkflair.linkflair-f, .flairselector .linkflair-f {
border-right: 10px solid #b179e1;
}

.thing.linkflair.linkflair-f .linkflairlabel {
border-bottom: solid 1px #b179e1;
}

.thing.linkflair.linkflair-g, .flairselector .linkflair-g {
border-right: 10px solid #FCDFFF;
}

.thing.linkflair.linkflair-g .linkflairlabel {
border-bottom: solid 1px #FCDFFF;
}
/* Listing of submissions */
.expando {
	border-bottom: dotted 1px #C1BFBF;
}

.expando-button {
	margin: 5px 5px 2px 0;
}

.entry .tagline {
	margin-top: 5px;
}

.entry .buttons li a {
	font-weight: normal;
}

.link .entry li .comments {
	font-weight: bold;
}

body div.content {
	margin: 30px 0px 0px 5px !important;
	padding: 20px 0px 0px !important;
}

.rank {
	display: none;
}

.link .midcol {
	margin-right: 3px;
	margin-left: 0px;
	margin-top: 7px;
}

.linklisting {
	bottom: 0px;
	margin-top: 0px;
	padding: 0px !important;
	border: 0 !important;
	margin-left: 20px;
}

.linklisting .odd:first-child {
	border-top: 0px none !important;
}

.linklisting .odd {
	overflow: hidden !important;
	margin: 0px 20px 0px 0px!important;
	padding: 5px 5px 10px 10px !important;
	background-color: #FAFAFA;
	min-height: 50px !important;
	box-shadow: 0px 3px 3px 1px #A5B9CE;
}

.linklisting .even {
	overflow: hidden !important;
	margin: 0px 20px 0px 0px!important;
	padding: 5px 5px 10px 10px !important;
	background-color: #F5F5F5;
	min-height: 50px !important;
	box-shadow: 0px 3px 3px 1px #A5B9CE;
}

/*  RES neverending reddit fixes */

#progressIndicator {
	margin-left: 20px !important;
	border-radius: 0px !important;
	box-shadow: 0px 1px 3px 1px #A5B9CE;
	width: 97% !important;
	margin-top: 5px !important;
	background-color: #F5F5F5;
	border-color: #C1BFBF !important;
}

.linklisting .linklisting {
	margin-left: 0px !important;
	border: none !important;
	box-shadow: none !important;
}

.NERPageMarker, body .content #progressIndicator {
	background-color: #F5F5F5 !important;
	border: 0 !important;
	border-radius: 0px !important;
        margin-right: 20px !important;
        box-shadow: 0px 1px 3px 1px #A5B9CE !important;
        width: auto !important;
}

#NERFail {
	width: 99% !important;
	height: auto !important;
	border-width: 0px !important;
}


/* comments */
.sitetable .comment {
	border-radius: 0px !important;
}

.panestack-title {
	margin: 0 !important;
	padding-bottom: 3px;
	border-bottom: 1px dotted #808080;
	background-color: #FFF;
	box-shadow: 0px 3px 3px 1px #A5B9CE;
	padding: 5px 5px 5px 30px;
	overflow: auto;
}

.commentarea .menuarea, .commentarea .infobar {
	margin: 0 !important;
	border: none;
	color: #808080;
	background-color: #FFF;
	box-shadow: 0px 3px 3px 1px #A5B9CE;
	padding: 5px 5px 5px 30px;
	overflow: auto;
}

.commentarea>.usertext {
	margin: 0 !important;
	overflow: auto;
	background-color: #FFF;
	box-shadow: 0px 3px 3px 1px #A5B9CE;
	padding: 5px 5px 5px 30px;
}

.pretty-form {
	padding: 5px 5px 5px 30px;
	background-color: #FFF;
	border: 0;
	box-shadow: 0px 1px 3px 1px #A5B9CE;
	margin-left: 20px !important;
	overflow: auto;
}

.gold-accent.comment-visits-box {
	color: #583800;
	padding: 7px 10px 7px 30px;
	box-shadow: 0px 3px 3px 1px #A5B9CE;
	background-color: #FFF;
	margin: 0 !important;
	overflow: auto;
	display: block;
	max-width: 100%;
	border-color: #FFF;
}

.sitetable.nestedlisting > .comment {
	margin-left: 0px !important;
	margin-right: 20px!important;
	margin-top: 0!important;
	margin-bottom: 5px !important;
	background-color: #FFF !important;
	border: 0 !important;
	padding: 5px 8px 0 5px!important;
	box-shadow: 0px 3px 3px 1px #A5B9CE;
	overflow: auto;
}

.sitetable.nestedlisting {
	margin-top: 5px;
}

.commentarea {
	margin-top: 5px;
	margin-left: 20px;
	padding: 0px !important;
	border: 0;
}

.md h1, .commentarea h1 {
	padding-bottom: 3px;
	border-bottom: 1px dotted #C1BFBF;
	font-weight: bold;
}

.md h2, .commentarea h2 {
	padding-bottom: 3px;
	border-bottom: 1px dotted #C1BFBF;
	font-weight: bold;
	
}

.md h3, .commentarea h3 {
	padding-bottom: 3px;
	border-bottom: 1px dotted #C1BFBF;
	font-weight: bold;
	
}

.link .usertext .md {
	padding: 0px 5px;
	border: 0;
}

.gold-accent, .infobar {
	border-radius: 0px !important;
	border-color: #C1BFBF;
	background-color: #F5F5F5;
	margin: 0px 20px 10px 20px!important;
	overflow: auto;
	box-shadow: 0px 1px 3px 1px #A5B9CE;
}

#noresults {
	margin-left: 10px !important;
}

/* code numbering, based on the css found at /r/modtools */
.md pre {
	background-color: #F5F5F5 !important;
	border-left: 31px solid #4D6277;
	position: relative;
	margin-top: 25px;
	line-height: 15px;
	font-family: "Courier New",courier,monospace;
	box-shadow: 0px 1px 3px 1px #F5F5F5;
}

.md pre code {
	padding: 15px;
	overflow: auto;
	display: block;
	line-height: 15px;
	font-family: "Courier New",courier,monospace;
}

.md pre:after {
	position: absolute;
	content: "code:";
	color: gray;
	top: -20px;
	left: -30px;
}

.md pre:before {
	height: 100%;
	color: white;
	position: absolute;
	left: -28px;
	width: 25px;
	white-space: pre-wrap;
	direction: rtl;
	overflow: hidden;
	content: "#   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250";
}

/* Make distinguished users stand out more (mods, op and friends) */
.tagline .author.submitter {
	color: white !important;
	background-color: #0055df !important;
	font-weight: bold !important;
	border-radius: 0px !important;
	padding: 0px 2px !important;
}

.tagline .author.moderator {
	color: white !important;
	background-color: #228822 !important;
	font-weight: bold !important;
	border-radius: 0px !important;
	padding: 0px 2px !important;
}

.tagline .author.friend {
	color: white !important;
	background-color: #FF4500 !important;
	font-weight: bold !important;
	border-radius: 0px !important;
	padding: 0px 2px !important;
}

/* nested commentary boxes, credits for this piece of code go to someone else */

.comment .child, .comment .showreplies {
	border-left: 0px !important;
}

.comment {
	margin-left: 10px !important;
	margin-right: 5px!important;
	margin-top: 0!important;
	margin-bottom: 8px !important;
	background-color: #ffffff !important;
	border: 1px solid #e6e6e6 !important;
	padding: 5px 8px 0 5px!important;
}

.comment,
.comment .comment .comment,
.comment .comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment .comment .comment .comment {
	background-color: #fff !important;
}

.comment .comment,
.comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
	background-color: #F7F7F8!important;
}




/* comment quotes */

#siteTable blockquote:before, .noncollapsed .usertext blockquote:before {
	content: '“';
	
	font-family: Georgia, serif;
	margin: 0;
	position: relative;
	line-height: 5px;
	top: 10px;
	opacity: 0.2;
}

#siteTable blockquote, .noncollapsed .usertext blockquote p {
	margin: 0;
	
}

#siteTable blockquote:after, .noncollapsed .usertext blockquote:after {
	content: '”';
	
	font-family: Georgia, serif;
	text-align: right;
	width: 98%;
	display: block;
	line-height: 20px;
	opacity: 0.2;
	position: relative;
}

#siteTable blockquote, .noncollapsed .usertext blockquote {
	display: block;
	background-color: #F5F5F5;
	border-style: solid;
	border-width: 1px 1px 1px 3px;
	border-color: #C1BFBF;
	margin: 5px !important;
	padding: 5px;
	color: #333333;
}

/* table comment borders */

.md td, .md th {
	border: 1px solid #C1BFBF !important;
}

/* flair settings */
.flair-settings.fancy-settings > h1 {
	margin: 0px 0px 5px 20px;
	background-color: #FFFFFF;
	border: 0;
	box-shadow: 0px 1px 3px 1px #A5B9CE;
	padding: 5px;
	overflow: auto;
}

.content .tabmenu {
	margin: 0px 0px 0px 20px !important;
}

.tabpane-content {
	padding: 5px;
	margin-top: 0px;
	margin-left: 20px;
	background-color: #FFFFFF;
	border: 0;
	box-shadow: 0px 1px 3px 1px #A5B9CE;
	overflow: auto;
}


/* css settings */
.pretty-form {
	padding: 5px;
	background-color: #FFFFFF;
	border: 0;
	box-shadow: 0px 1px 3px 1px #A5B9CE;
	margin-left: 20px;
}

#images {
	padding: 5px;
	margin-top: 5px;
	margin-left: 20px;
	background-color: #FFFFFF;
	border: 0;
	box-shadow: 0px 1px 3px 1px #A5B9CE;
	overflow: auto;
}

/* Custom stylesheet */
.stylesheet-customize-container {
	width: 100%;
}

#stylesheet_contents {
	padding-left: 5px;
	padding-top: 5px;
	background-color: white;
	color: #4D6277;
	height: 500px;
}

#subreddit_stylesheet {
	display: block;
	overflow: hidden;
}

.sheets {
	margin: 0;
}

/* submitting  */
#newlink {
	padding: 5px;
	margin-top: 5px;
	margin-left: 20px;
	background-color: #FFFFFF;
	border: 0;
	box-shadow: 0px 1px 3px 1px #A5B9CE;
	overflow: auto;
}

#link-desc.infobar, #text-desc.infobar {
	display: none !important;
}

.content > h1 {
	margin: 0px 5px 5px 20px;
	background-color: #FFFFFF;
	border: 0;
	box-shadow: 0px 1px 3px 1px #A5B9CE;
	padding: 5px;
	overflow: auto;
}

.formtabs-content {
	border-top: 4px solid #C1BFBF !important;
	padding-top: 0px !important;
}

.formtabs-content div:nth-child(1), .formtabs-content div:nth-child(2) {
	margin: 0px !important;
}

li.selected a.link-button, li.selected a.text-button {
	border: 0 !important;
	background: #C9D6E2 !important;
	color: #333333 !important;
	border-left: 3px solid #4D6277 !important;
	border-bottom: 0px !important;
}

a.link-button, a.text-button {
	border: 0 !important;
	background: #EFEFEF !important;
	color: #333333 !important;
	border-left: 3px solid #4D6277 !important;
}


/* Spoiler tags */
a[href$="#spoiler"] {
	background: #4D6277 !important;
	color: #4D6277 !important;
	border: 1px solid #4D6277;
	padding-right: 1px;
}

a[href$="#spoiler"]:hover {
	color: #FFF !important;
}

a[href$="#spoiler"]::before {
	background: #FFF !important;
	color: #000 !important;
	padding: 0px 1px;
	margin: 0px;
	margin-right: 1px;
}

a[href$="#spoiler"]::before {
	content: "Spoiler";
}

a[href$="#spoiler"][title]::before {
	content: attr(title) " Spoiler";
}

/* Sidebar stuff */

.login-form-side {
	background-color: #F5F5F5;
	border-width: 3px 0px 3px 0px;
	border-style: solid;
	border-color: #C1BFBF;
}

.side .bottom {
	display: none !important;
}

#search {
	text-align: center;
}

#search input[type="text"] {
	border: 1px solid #C1BFBF;
}

.side .md {
	overflow: hidden;
}

.flat-vert.icon-menu.hover a {
	background-color: #F5F5F5 !important;
}

.side {
	width: 300px;
	margin: 50px 20px 20px 10px;
	padding: 5px !important;
	z-index: 0;
	border: 0;
	box-shadow: 0px 1px 3px 1px #A5B9CE;
	overflow: hidden;
}

.side hr {
	visibility: hidden;
}

.side blockquote {
	display: block;
	background-color: #F5F5F5;
	border-width: 1px 0px;
	border-style: solid;
	border-color: #C1BFBF;
	margin: 0px;
	margin-bottom: 5px;
	padding: 5px;
	box-shadow: 0px 1px 3px 1px #F5F5F5;
}

.sidecontentbox .content {
	display: block;
	background-color: #F5F5F5;
	border-width: 1px 0px;
	border-style: solid;
	border-color: #C1BFBF;
	margin: 0px;
	margin-bottom: 5px;
	padding: 5px;
}

#searchexpando {
	border-radius: 0px !important;
	border-color: #C1BFBF;
	background-color: #F5F5F5;
}


/* Link info*/
.linkinfo {
	background-color: white;
	color: #363636;
	text-align: center;
	
	padding: 10px 0px 15px 0px;
	border: 0;
	width: 300px;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0px !important;
}

.linkinfo .downvotes .number, .linkinfo .upvotes .number, .linkinfo .score .number {
	
	display: block;
	font-weight: normal !important;
}

.linkinfo .score .word {
	display: none;
}

.linkinfo .score {
	
	display: block;
	min-width: 80px;
	margin-left: 30px !important;
}

.linkinfo .downvotes .word, .linkinfo .upvotes .word {
	
}

.linkinfo .upvotes, .linkinfo .downvotes, .linkinfo .score {
	float: left;
	padding: 5px 10px 5px 0;
	margin: 8px 10px 10px 0;
	text-align: center;
}

.linkinfo .score, .linkinfo .upvotes {
	border-right: 1px solid #C1BFBF;
}

.linkinfo .shortlink {
	clear: both !important;
	
	margin: 0px 20px 0px 20px;
	border: 1px solid #E7E6E6;
	text-align: center;
}

.linkinfo .shortlink input {
	background: transparent;
	border: 0px !important;
	padding-left: 8px;
	
	margin-left: auto;
	margin-right: auto;
}

.linkinfo .date {
	padding: 8px;
	margin-top: -10px;
	margin-bottom: 7px;
	color: #333333;
	background-color: #C9D6E2;
	
}


/* sidebar dropdown menus */
.titlebox .md ul {
	margin: 0;
}

.titlebox ul li {
	background-color: #f2f2f2;
	border: none;
	color: black;
	display: none;
	padding: 3px 3px 3px 13px;
	text-align: left;
	border-top: 1px solid #CCCCCC;
	margin: 0px;
}

.titlebox ul li:hover {
	background-color: #DDDDDD;
}

.titlebox ul li:nth-child(1):not(.flairsample-left) {
	display: block;
	color: black;
	background-color: #EFEFEF;
	display: inline-block;
	
	border: 0px;
	border-bottom: 1px dotted #888888;
	border-left: 3px solid #4D6277;
	padding: 2px;
	width: 100%;
}

.titlebox ul li:nth-child(1):not(.flairsample-left):hover {
	color: black;
	background-color: #C9D6E2;
}

.titlebox ul:hover > li {
	display: block;
}

.titlebox ul li a:hover {
	color: black;
}


/* sidebar submit buttons */
.morelink .nub {
	background: none !important;
}

.morelink {
	border: 0;
	background: #EFEFEF !important;
	color: #333333;
	border-left: 3px solid #4D6277;
}

.morelink:hover {
	background: #C9D6E2 !important;
	border-color: #C1BFBF;
	border-left: 3px solid #4D6277;
}

.morelink a {
	color: #333333;
}

.morelink:hover a {
	text-decoration: none !important;
	color: #333333;
}


/* sidebar icons stolen from rolmos's edurne theme */
 .side a[href*='#icon-'] {
    color:#000!important;
    cursor:default;
}

.side a[href*='#icon-']:hover {
    text-decoration:none;
}

.side a[href*='#icon-']::before {
    display:inline-block;
    height:16px;
    width:16px;
    content:'';
    margin:0 5px -1px 0;
    background:url(%%sprites-05%%) 30px 30px no-repeat;
}
.side a[href='#icon-exclamation']::before {
    background-position:-16px -32px;
}
.side a[href='#icon-information']::before {
    background-position:-54px -51px;
}
.side a[href='#icon-lightbulb']::before {
    background-position:-16px -51px;
}
.side a[href='#icon-comments']::before {
    background-position:-35px -89px;
}
.side a[href='#icon-unhappy']::before {
    background-position:-73px -89px;
}
.side a[href='#icon-check']::before {
    background-position:-73px -51px;
}
.side a[href='#icon-clock']::before {
    background-position:-35px -51px;
}
.side a[href='#icon-cross']::before {
    background-position:-35px -70px;
}
.side a[href='#icon-smile']::before {
    background-position:-54px -89px;
}
.side a[href='#icon-error']::before {
    background-position:-54px -32px;
}
.side a[href='#icon-note']::before {
    background-position:-54px -70px;
}
.side a[href='#icon-star']::before {
    background-position:-73px -32px;
}
.side a[href='#icon-help']::before {
    background-position:-16px -70px;
}
.side a[href='#icon-time']::before {
    background-position:-73px -70px;
}
.side a[href='#icon-bell']::before {
    background-position:-35px -32px;
}
.side a[href='#icon-eye']::before {
    background-position:-16px -89px;
}


/* lets put the mess of buttons and info in something that looks like a box */
 .side .redditname {
    display:block;
    background-color:#F5F5F5;
    border-width:3px 0px 0px 0px;
    border-style:solid;
    border-color: #C1BFBF;
    margin: 5px 0px 0px 0px;
    padding: 5px;
}

.side .redditname {
    margin-bottom: -27px !important;
    padding-bottom: 29px !important;
}



.styleToggle, .subscribers, .users-online, .leavemoderator, form.flairtoggle, .toggle.leavecontributor-button {
    display:block;
    background-color:#F5F5F5 !important;
    border: 0px;
    margin: 0px;
    padding: 5px;
}

.subscribers {
margin-top: -29px!important;
padding-top: 29px!important;
}

.side .tagline {
    display:block;
    background-color:#F5F5F5;
    border-width:0px 0px 3px 0px;
    border-style:solid;
    border-color: #C1BFBF;
    margin: 0px 0px 15px 0px!important;
    padding: 5px;
}

.side .spacer .titlebox div:nth-of-type(1):not(.flairselector):not(.md):not(.usertext-body) {
    display:block !important;
    background-color:#F5F5F5;
    border: 0 !important;
    margin: 0 !important;
    padding: 5px !important;
}


/* the subscribe and res buttons */
 .fancy-toggle-button .remove {
    background-image: none;
    background-color: #DD513B;
    border-radius: 0px !important;
}

.fancy-toggle-button .add {
    background-image: none;
    background-color: #4D6277;
    border-radius: 0px !important;
}

.subButtons .RESshortcutside {
    width: auto;
    display: inline-block;
}
.RESshortcutside, .RESDashboardToggle {
    color: white;
    background-image: none !important;
    background-color: #4D6277;
    border-radius: 0px !important;
}

.RESshortcutside:hover, .RESDashboardToggle :hover {
    color: white;
    background-image: none !important;
    background-color: #4D6277 !important;
    border-radius: 0px !important;
}

.RESshortcutside.remove, .RESDashboardToggle.remove {
    color: white;
    background-image: none !important;
    background-color: #DD513B;
    border-radius: 0px !important;
}

.RESshortcutside.remove:hover, .RESDashboardToggle.remove:hover {
    color: white;
    background-image: none !important;
    background-color: #DD513B !important;
    border-radius: 0px !important;
}

/* Sticky, edit text in the sidebar  */
 .side .md h3:nth-of-type(1) {
    position:absolute;
    top:75px;
    left:25px;
    display:block;
    border-bottom:0;
    box-shadow: 0px 1px 3px 1px #A5B9CE;
    background:#FFFFFF;
    text-align:left;
    
    color:#333333;
    font-weight:bold;
    padding:7px 7px 7px 27px;
    right: 20px;
}

/* wiki formatting */
div.wiki div.toc>ul:before {
	display: block!important;
	content: "Table of Contents";
	color: #99A;
	text-align: center;
	margin-top: -5px;
	margin-bottom: 5px;
}

#wiki_page_content, #wiki_revision_reason {
	max-width: 98%;
}

	

.wikititle {
	background-color: #FFF;
	border: 0;
	box-shadow: 0px 1px 3px 1px #A5B9CE;
	padding: 5px;
	margin: 0px 0px 10px 20px!important;
	display: block !important;
	overflow: auto;
}

.pageactions {
	background-color: #FFF;
	border: 0;
	box-shadow: 0px 3px 3px 1px #A5B9CE;
	padding: 0px;
	margin: 0px 0px 0px 20px!important;
	display: block !important;
	overflow: auto;
}

.wiki-page-content {
    background-color: #FFFFFF;
    border: 0;
	box-shadow: 0px 3px 3px 1px #A5B9CE;
    padding: 5px;
    margin: 0px 0px 0px 20px !important;
	overflow:auto;
}

.wiki-page .pageactions {
    border: 0px !important;
}

.wikiaction {
    border-radius: 0px !important;
}

.wiki-page .wiki-page-content .md.wiki > .toc > ul {
    margin:0px !important;
	background-color: #F5F5F5;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #C1BFBF;
}

.toc a {
    
}

.toc {
    float: right;
    max-width: 40%;
	border-color: #C1BFBF;
}

/* ==Boxed reddit CSS Theme v1.5 - (http://www.reddit.com/r/boxed/)== */


/* 
    spoiler stuff - both versions 
    http://www.reddit.com/r/csshelp/comments/x18bx/howto_fullyfunctional_spoiler_markup_for_mobile/
*/
a[href="#s"] {
  visibility: hidden;
  display: inline-block
}
a[href="#s"]::after {
  content: attr(title);
  background: black;
  color: black;
  visibility: visible
}
a[href="#s"]:hover::after, a[href="#s"]:active::after {
  color: white;
}
a[href$="/spoiler"] {
  background: #000 !important;
  color: #000 !important
}

a[href$="/spoiler"]:hover {
  cursor: default;
  color: #FFF !important
}

/*Changing 'MODERATORS in sidebar*/

.sidecontentbox h1:not(:first-child) {
  font-size: 0pt !important
}

/* change the readers to ... */
div.titlebox span.word {
  display: none;
}
div.titlebox span.number:after {
  content: " True Believers";
}

/* Downvote onHover text */
.arrow.down:hover:before{
  position:fixed;
  display:block;
  z-index:1000;
  padding:5px 0;
  border-top:1px solid #333;
  content:"Please don't use the downvote button as a 'disagree' button.";
  text-align:center;
  bottom:0;
  width:100%;
  left:0;
  background-color:fireBrick;
  color:#FEFEFE;
  text-shadow:0 -1px 1px #555;
  font-size:16px
}

/* extra report text */
.report-button .error.active:before{
  content:"Please message the mods to tell us why. ";
  font-weight:normal;
  color:red
}

.sidecontentbox h1:not(:first-child):after {
  font-size: 10pt !important;
  content: "EDITORIAL BOARD"
}

/* Allow absolute positioning to page */
.titlebox form {
  position: static
}
/* Inactive link */
.titlebox .usertext-body .md h6 a, .titlebox .usertext-body .md h6 a:link, .titlebox .usertext-body .md h6 a:visited, .titlebox .usertext-body .md h5 a, .titlebox .usertext-body .md h5 a:link, .titlebox .usertext-body .md h5 a:visited{
  color: #CCC;
  text-decoration: underline
}
/* Link on hover */
.titlebox .usertext-body .md h6 a:hover, .titlebox .usertext-body .md h5 a:hover {
  color: #DDD;
  text-decoration: none;
  cursor: pointer;
}
/* Move content out of the way */
body > .content {
  margin-top: 65px;
}
.sitetable:before {
  content: ""
}

/* FLAIR STUFF */

.flair {
  background: none;
  color: black;
  border: 0;
  border-radius: 0;
  display: inline-block;
  height: 13px;
  margin-left: 2px;
  white-space: nowrap;
}
/* 1 */
.flair-nickfury {
  background-image: url(%%flair-characters1%%);
  background-position: -2px -10px;
  text-indent: 23px;
  width: 18px;
  margin-right: 53px;
  padding-top: 24px;
}
.flair-hawkeye {
  background-image: url(%%flair-characters1%%);
  background-position: -24px -10px;
  text-indent: 23px;
  width: 23px;
  margin-right: 53px;
  padding-top: 26px;
}
.flair-blackwidow {
  background-image: url(%%flair-characters1%%);
  background-position: -51px -10px;
  text-indent: 28px;
  width: 25px;
  margin-right: 53px;
  padding-top: 25px;
}
.flair-ironman {
  background-image: url(%%flair-characters1%%);
  background-position: -80px -10px;
  text-indent: 23px;
  width: 22px;
  margin-right: 53px;
  padding-top: 27px;
}
.flair-thor {
  background-image: url(%%flair-characters1%%);
  background-position: -106px -10px;
  text-indent: 24px;
  width: 21px;
  margin-right: 53px;
  padding-top: 25px;
}
.flair-captainamerica {
  background-image: url(%%flair-characters1%%);
  background-position: -132px -10px;
  text-indent: 24px;
  width: 26px;
  margin-right: 78px;
  padding-top: 26px;
}
.flair-brucebanner {
  background-image: url(%%flair-characters1%%);
  background-position: -163px -10px;
  text-indent: 22px;
  width: 19px;
  margin-right: 53px;
  padding-top: 27px;
}
.flair-minihulk {
  background-image: url(%%flair-characters1%%);
  background-position: -188px -10px;
  text-indent: 21px;
  width: 19px;
  margin-right: 28px;
  padding-top: 26px;
}
.flair-hulk {
  background-image: url(%%flair-characters1%%);
  background-position: -211px -1px;
  text-indent: 35px;
  width: 30px;
  margin-right: 28px;
  padding-top: 33px;
}
.flair-henrypym {
  background-image: url(%%flair-characters1%%);
  text-indent: 24px;
  width: 21px;
  margin-right: 48px;
  padding-top: 25px;
  background-position: -248px -10px;
}
.flair-quicksilver {
  background-image: url(%%flair-characters1%%);
  text-indent: 24px;
  width: 21px;
  margin-right: 61px;
  padding-top: 29px;
  background-position: -1px -47px;
}
.flair-scarletwitch {
  background-image: url(%%flair-characters1%%);
  text-indent: 24px;
  width: 23px;
  margin-right: 70px;
  padding-top: 27px;
  background-position: -26px -49px;
}
.flair-swordsman {
  background-image: url(%%flair-characters1%%);
  text-indent: 24px;
  width: 20px;
  margin-right: 61px;
  padding-top: 26px;
  background-position: -53px -49px;
}
.flair-hercules {
  background-image: url(%%flair-characters1%%);
  text-indent: 25px;
  width: 24px;
  margin-right: 47px;
  padding-top: 27px;
  background-position: -77px -49px;
}
.flair-blackpanther {
  background-image: url(%%flair-characters1%%);
  text-indent: 25px;
  width: 21px;
  margin-right: 75px;
  padding-top: 27px;
  background-position: -128px -49px;
}
.flair-vision {
  background-image: url(%%flair-characters1%%);
  text-indent: 27px;
  width: 23px;
  margin-right: 53px;
  padding-top: 26px;
  background-position: -154px -49px;
}
.flair-blackknight {
  background-image: url(%%flair-characters1%%);
  text-indent: 34px;
  width: 30px;
  margin-right: 61px;
  padding-top: 26px;
  background-position: -182px -48px;
}
.flair-mantis {
  background-image: url(%%flair-characters1%%);
  text-indent: 24px;
  width: 23px;
  margin-right: 35px;
  padding-top: 31px;
  background-position: -217px -45px;
}
.flair-beast {
  background-image: url(%%flair-characters1%%);
  text-indent: 28px;
  width: 21px;
  margin-right: 53px;
  padding-top: 25px;
  background-position: -248px -49px;
}
.flair-moondragon{
  background-image: url(%%flair-characters1%%);
  text-indent: 24px;
  width: 20px;
  margin-right: 61px;
  padding-top: 25px;
  background-position: -2px -97px;
}
.flair-hellcat {
  background-image: url(%%flair-characters1%%);
  text-indent: 30px;
  width: 32px;
  margin-right: 61px;
  padding-top: 28px;
  background-position: -26px -95px;
}
.flair-twogunkid {
  background-image: url(%%flair-characters1%%);
  text-indent: 28px;
  width: 28px;
  margin-right: 69px;
  padding-top: 30px;
  background-position: -62px -94px;
}
.flair-wonderman {
  background-image: url(%%flair-characters1%%);
  text-indent: 24px;
  width: 20px;
  margin-right: 63px;
  padding-top: 25px;
  background-position: -94px -98px;
}
.flair-msmarvel {
  background-image: url(%%flair-characters1%%);
  text-indent: 23px;
  width: 21px;
  margin-right: 53px;
  padding-top: 26px;
  background-position: -118px -97px;
}
.flair-falcon {
  background-image: url(%%flair-characters1%%);
  text-indent: 24px;
  width: 20px;
  margin-right: 61px;
  padding-top: 25px;
  background-position: -142px -97px;
}
.flair-tigra {
  background-image: url(%%flair-characters1%%);
  text-indent: 24px;
  width: 23px;
  margin-right: 61px;
  padding-top: 26px;
  background-position: -168px -97px;
}
.flair-jenniferwalters {
  background-image: url(%%flair-characters1%%);
  text-indent: 24px;
  width: 23px;
  margin-right: 85px;
  padding-top: 26px;
  background-position: -196px -97px;
}
.flair-shehulk-mini {
  background-image: url(%%flair-characters1%%);
  text-indent: 29px;
  width: 28px;
  margin-right: 61px;
  padding-top: 27px;
  background-position: -224px -97px;
}
.flair-shehulk {
  background-image: url(%%flair-characters1%%);
  text-indent: 32px;
  width: 29px;
  margin-right: 61px;
  padding-top: 35px;
  background-position: -258px -88px;
}
.flair-captainmarvel2 {
  background-image: url(%%flair-characters1%%);
  text-indent: 26px;
  width: 25px;
  margin-right: 80px;
  padding-top: 26px;
  background-position: -2px -134px;
}
.flair-starfox {
  background-image: url(%%flair-characters1%%);
  text-indent: 24px;
  width: 22px;
  margin-right: 61px;
  padding-top: 25px;
  background-position: -30px -135px;
}
.flair-namor {
  background-image: url(%%flair-characters1%%);
  text-indent: 25px;
  width: 22px;
  margin-right: 53px;
  padding-top: 26px;
  background-position: -54px -135px;
}
.flair-doctordruid {
  background-image: url(%%flair-characters1%%);
  text-indent: 26px;
  width: 27px;
  margin-right: 61px;
  padding-top: 27px;
  background-position: -80px -135px;
}
.flair-mockingbird {
  background-image: url(%%flair-characters1%%);
  text-indent: 24px;
  width: 23px;
  margin-right: 61px;
  padding-top: 27px;
  background-position: -111px -134px;
}
.flair-thething {
  background-image: url(%%flair-characters1%%);
  margin-right: 54px;
  text-indent: 23px;
  width:24px;
  padding-top: 24px;
  background-position: -139px -137px;
}
.flair-moonknight {
  background-image: url(%%flair-characters1%%);
  text-indent: 26px;
  width: 22px;
  margin-right: 78px;
  padding-top: 25px;
  background-position: -166px -136px;
}
.flair-firebird {
  background-image: url(%%flair-characters1%%);
  text-indent: 24px;
  width: 25px;
  margin-right: 61px;
  padding-top: 27px;
  background-position: -196px -135px;
}
.flair-demolitionman {
  background-image: url(%%flair-characters1%%);
  text-indent: 24px;
  width: 26px;
  margin-right: 81px;
  padding-top: 27px;
  background-position: -226px -135px;
}
.flair-forgottenone {
  background-image: url(%%flair-characters1%%);
  text-indent: 24px;
  width: 21px;
  margin-right: 76px;
  padding-top: 27px;
  background-position: -255px -135px;
}
.flair-mrfantastic {
  background-image: url(%%flair-characters1%%);
  text-indent: 23px;
  width:22px;
  margin-right: 67px;
  padding-top: 24px;
  background-position: 0px -180px;
}
.flair-invisiblewoman {
  background-image: url(%%flair-characters1%%);
  text-indent: 23px;
  width:21px;
  margin-right: 54px;
  padding-top: 22px;
  background-position: -25px -180px;
}
.flair-usagent {
  background-image: url(%%flair-characters1%%);
  text-indent: 24px;
  width: 23px;
  margin-right: 61px;
  padding-top: 26px;
  background-position: -50px -178px;
}
.flair-quasar {
  background-image: url(%%flair-characters1%%);
  text-indent: 24px;
  width: 23px;
  margin-right: 61px;
  padding-top: 25px;
  background-position: -77px -178px;
}
.flair-humantorch {
  background-image: url(%%flair-characters1%%);
  text-indent: 31px;
  width: 27px;
  margin-right: 54px;
  padding-top: 30px;
  background-position: -104px -173px;
}
.flair-sersi {
  background-image: url(%%flair-characters1%%);
  text-indent: 28px;
  width: 27px;
  margin-right: 61px;
  padding-top: 26px;
  background-position: -136px -177px;
}
.flair-stingray {
  background-image: url(%%flair-characters1%%);
  text-indent: 24px;
  width: 20px;
  margin-right: 61px;
  padding-top: 25px;
  background-position: -166px -178px;
}
.flair-spiderman {
  background-image: url(%%flair-characters1%%);
  text-indent: 22px;
  width: 20px;
  margin-right: 56px;
  padding-top: 25px;
  background-position: -191px -178px;
}
.flair-sandman {
  background-image: url(%%flair-characters1%%);
  text-indent: 22px;
  width: 20px;
  margin-right: 56px;
  padding-top: 25px;
  background-position: -215px -178px;
}
.flair-rage {
  background-image: url(%%flair-characters1%%);
  background-position: -240px -178px;
  text-indent: 22px;
  width: 20px;
  margin-right: 56px;
  padding-top: 25px;
}

/* end 1 */
/* 2 */

.flair-machineman {
  background-image: url(%%flair-characters2%%);
  text-indent: 22px;
  width: 20px;
  margin-right: 56px;
  padding-top: 25px;
  background-position: -2px -3px;
}
.flair-livinglightning {
  background-image: url(%%flair-characters2%%);
  text-indent: 22px;
  width: 20px;
  margin-right: 56px;
  padding-top: 25px;
  background-position: -25px -3px;
}
.flair-spiderwoman {
  background-image: url(%%flair-characters2%%);
  text-indent: 25px;
  width: 26px;
  margin-right: 75px;
  padding-top: 27px;
  background-position: -50px -1px;
}
.flair-crystal {
  background-image: url(%%flair-characters2%%);
  text-indent: 22px;
  width: 20px;
  margin-right: 56px;
  padding-top: 25px;
  background-position: -80px -1px;
}
.flair-thunderstrike {
  background-image: url(%%flair-characters2%%);
  text-indent: 32px;
  width: 30px;
  margin-right: 67px;
  padding-top: 25px;
  background-position: -105px -3px;
}
.flair-darkhawk {
  background-image: url(%%flair-characters2%%);
  text-indent: 22px;
  width: 20px;
  margin-right: 56px;
  padding-top: 25px;
  background-position: -139px -3px;
}
.flair-justice {
  background-image: url(%%flair-characters2%%);
  text-indent: 22px;
  width: 20px;
  margin-right: 56px;
  padding-top: 25px;
  background-position: -163px -2px;
}
.flair-firestar {
  background-image: url(%%flair-characters2%%);
  text-indent: 22px;
  width: 23px;
  margin-right: 56px;
  padding-top: 25px;
  background-position: -188px -2px;
}
.flair-3dman {
  background-image: url(%%flair-characters2%%);
  text-indent: 22px;
  width: 20px;
  margin-right: 56px;
  padding-top: 25px;
  background-position: -215px -3px;
}
.flair-silverclaw {
  background-image: url(%%flair-characters2%%);
  text-indent: 25px;
  width: 25px;
  margin-right: 56px;
  padding-top: 26px;
  background-position: -239px -2px;
}
.flair-jackofhearts {
  background-image: url(%%flair-characters2%%);
  text-indent: 22px;
  width: 20px;
  margin-right: 56px;
  padding-top: 25px;
  background-position: -2px -43px;
}
.flair-antman {
  background-image: url(%%flair-characters2%%);
  text-indent: 22px;
  width: 20px;
  margin-right: 56px;
  padding-top: 27px;
  background-position: -25px -42px;
}
.flair-captainbritain {
  background-image: url(%%flair-characters2%%);
  text-indent: 22px;
  width: 22px;
  margin-right: 56px;
  padding-top: 27px;
  background-position: -50px -42px;
}
.flair-lukecage {
  background-image: url(%%flair-characters2%%);
  text-indent: 28px;
  width: 22px;
  margin-right: 53px;
  padding-top: 28px;
  background-position: -74px -42px;
}
.flair-wolverine {
  background-image: url(%%flair-characters2%%);
  text-indent: 27px;
  width: 27px;
  margin-right: 53px;
  padding-top: 28px;
  background-position: -99px -42px;
}
.flair-sentry {
  background-image: url(%%flair-characters2%%);
  text-indent: 40px;
  width: 38px;
  margin-right: 37px;
  padding-top: 27px;
  background-position: -130px -42px;
}
.flair-echo {
  background-image: url(%%flair-characters2%%);
  text-indent: 28px;
  width: 20px;
  margin-right: 30px;
  padding-top: 28px;
  background-position: -171px -42px;
}
.flair-ares {
  background-image: url(%%flair-characters2%%);
  text-indent: 25px;
  width: 23px;
  margin-right: 30px;
  padding-top: 28px;
  background-position: -197px -42px;
}
.flair-cho {
  background-image: url(%%flair-characters2%%);
  text-indent: 23px;
  width: 21px;
  margin-right: 75px;
  padding-top: 28px;
  background-position: -223px -42px;
}
.flair-jocasta {
  background-image: url(%%flair-characters2%%);
  text-indent: 27px;
  width: 28px;
  margin-right: 40px;
  padding-top: 29px;
  background-position: -249px -39px;
}
.flair-stature {
  background-image: url(%%flair-characters2%%);
  text-indent: 21px;
  width: 19px;
  margin-right: 45px;
  padding-top: 25px;
  background-position: -2px -83px;
}
.flair-bucky {
  background-image: url(%%flair-characters2%%);
  text-indent: 23px;
  width: 19px;
  margin-right: 45px;
  padding-top: 25px;
  background-position: -26px -83px;
}
.flair-spiderwoman2 {
  background-image: url(%%flair-characters2%%);
  text-indent: 25px;
  width: 25px;
  margin-right: 77px;
  padding-top: 25px;
  background-position: -49px -82px;
}
.flair-valkyrie {
  background-image: url(%%flair-characters2%%);
  text-indent: 21px;
  width: 19px;
  margin-right: 50px;
  padding-top: 25px;
  background-position: -79px -82px;
}
.flair-sharoncarter {
  background-image: url(%%flair-characters2%%);
  text-indent: 25px;
  width: 21px;
  margin-right: 75px;
  padding-top: 25px;
  background-position: -104px -82px;
}
.flair-nova {
  background-image: url(%%flair-characters2%%);
  text-indent: 25px;
  width: 21px;
  margin-right: 38px;
  padding-top: 27px;
  background-position: -131px -81px;
}
.flair-ironfist {
  background-image: url(%%flair-characters2%%);
  text-indent: 28px;
  width: 22px;
  margin-right: 105px;
  padding-top: 28px;
  background-position: -156px -80px;
}
.flair-powerwoman {
  background-image: url(%%flair-characters2%%);
  text-indent: 22px;
  width: 22px;
  margin-right: 80px;
  padding-top: 28px;
  background-position: -183px -80px;
}
.flair-nohvarr {
  background-image: url(%%flair-characters2%%);
  text-indent: 21px;
  width: 20px;
  margin-right: 50px;
  padding-top: 28px;
  background-position: -211px -80px;
}
.flair-drstrange {
  background-image: url(%%flair-characters2%%);
  text-indent: 28px;
  width: 29px;
  margin-right: 53px;
  padding-top: 26px;
  background-position: -237px -82px;
}
.flair-thunderboltross {
  background-image: url(%%flair-characters2%%);
  text-indent: 23px;
  width: 23px;
  margin-right: 88px;
  padding-top: 26px;
  background-position: -1px -128px;
}
.flair-redhulk-mini {
  background-image: url(%%flair-characters2%%);
  text-indent: 21px;
  width: 20px;
  margin-right: 53px;
  padding-top: 26px;
  background-position: -27px -128px;
}
.flair-redhulk {
  background-image: url(%%flair-characters2%%);
  text-indent: 34px;
  width: 31px;
  margin-right: 53px;
  padding-top: 33px;
  background-position: -51px -120px;
}
.flair-daredevil {
  background-image: url(%%flair-characters2%%);
  text-indent: 22px;
  width: 21px;
  margin-right: 53px;
  padding-top: 26px;
  background-position: -86px -128px;
}
.flair-storm {
  background-image: url(%%flair-characters2%%);
  text-indent: 24px;
  width: 25px;
  margin-right: 53px;
  padding-top: 25px;
  background-position: -112px -129px;
}
.flair-quake {
  background-image: url(%%flair-characters2%%);
  text-indent: 21px;
  width: 21px;
  margin-right: 40px;
  padding-top: 25px;
  background-position: -141px -129px;
}
.flair-captainbritain2 {
  background-image: url(%%flair-characters2%%);
  text-indent: 20px;
  width: 20px;
  margin-right: 83px;
  padding-top: 26px;
  background-position: -167px -128px;
}
.flair-venom {
  background-image: url(%%flair-characters2%%);
  text-indent: 20px;
  width: 21px;
  margin-right: 38px;
  padding-top: 26px;
  background-position: -191px -128px;
}
.flair-batman {
  background-image: url(%%flair-characters2%%);
  text-indent: 38px;
  width: 37px;
  margin-right: 54px;
  padding-top: 27px;
  background-position: -216px -126px;
}
.flair-joker1 {
  background-image: url(%%flair-characters2%%);
  text-indent: 26px;
  width: 24px;
  margin-right: 30px;
  padding-top: 23px;
  background-position: -257px -129px;
}
.flair-riddler {
  background-image: url(%%flair-characters2%%);
  text-indent: 23px;
  width: 25px;
  margin-right: 53px;
  padding-top: 29px;
  background-position: -1px -168px;
}
.flair-twoface {
  background-image: url(%%flair-characters2%%);
  text-indent: 26px;
  width: 21px;
  margin-right: 65px;
  padding-top: 21px;
  background-position: -30px -172px;
}
.flair-musicmystro {
  background-image: url(%%flair-characters2%%);
  text-indent: 25px;
  width: 31px;
  margin-right: 53px;
  padding-top: 30px;
  background-position: -64px -168px;
}
.flair-catwoman {
  background-image: url(%%flair-characters2%%);
  text-indent: 23px;
  width: 24px;
  margin-right: 53px;
  padding-top: 26px;
  background-position: -99px -172px;
}
.flair-nightwing1 {
  background-image: url(%%flair-characters2%%);
  text-indent: 19px;
  width: 20px;
  margin-right: 53px;
  padding-top: 25px;
  background-position: -128px -173px;
}
.flair-nightwing2 {
  background-image: url(%%flair-characters2%%);
  text-indent: 21px;
  width: 19px;
  margin-right: 53px;
  padding-top: 25px;
  background-position: -151px -173px;
}
.flair-twoface2 {
  background-image: url(%%flair-characters2%%);
  text-indent: 23px;
  width: 22px;
  margin-right: 53px;
  padding-top: 26px;
  background-position: -175px -172px;
}
.flair-mrfreeze {
  background-image: url(%%flair-characters2%%);
  text-indent: 20px;
  width: 19px;
  margin-right: 53px;
  padding-top: 26px;
  background-position: -202px -172px;
}
.flair-mrfreeze2 {
  background-image: url(%%flair-characters2%%);
  text-indent: 22px;
  width: 22px;
  margin-right: 53px;
  padding-top: 30px;
  background-position: -226px -168px;
}
.flair-batwoman {
  background-image: url(%%flair-characters2%%);
  text-indent: 38px;
  width: 38px;
  margin-right: 53px;
  padding-top: 27px;
  background-position: -253px -170px;
}

/* end 2 */
/* 3 */

.flair-catwoman2 {
  background-image: url(%%flair-characters3%%);
  text-indent: 24px;
  width: 22px;
  margin-right: 53px;
  padding-top: 29px;
  background-position: -2px -7px;
}
.flair-poisonivy {
  background-image: url(%%flair-characters3%%);
  text-indent: 23px;
  width: 24px;
  margin-right: 53px;
  padding-top: 25px;
  background-position: -28px -10px;
}
.flair-harleyquinn {
  background-image: url(%%flair-characters3%%);
  text-indent: 27px;
  width: 34px;
  margin-right: 60px;
  padding-top: 26px;
  background-position: -60px -10px;
}
.flair-joker2 {
  background-image: url(%%flair-characters3%%);
  text-indent: 18px;
  width: 18px;
  margin-right: 30px;
  padding-top: 24px;
  background-position: -98px -12px;
}
.flair-scarecrow {
  background-image: url(%%flair-characters3%%);
  text-indent: 24px;
  width: 26px;
  margin-right: 53px;
  padding-top: 27px;
  background-position: -122px -9px;
}
.flair-superman {
  background-image: url(%%flair-characters3%%);
  text-indent: 42px;
  width: 38px;
  margin-right: 54px;
  padding-top: 23px;
  background-position: -153px -12px;
}
.flair-bizarrosuperman {
  background-image: url(%%flair-characters3%%);
  text-indent: 42px;
  width: 38px;
  margin-right: 97px;
  padding-top: 25px;
  background-position: -195px -10px;
}
.flair-flash {
  background-image: url(%%flair-characters3%%);
  text-indent: 30px;
  width: 27px;
  margin-right: 54px;
  padding-top: 23px;
  background-position: -237px -12px;
}
.flair-abomination {
  background-image: url(%%flair-characters3%%);
  text-indent: 33px;
  width: 32px;
  margin-right: 66px;
  padding-top: 33px;
  background-position: -267px -2px;
}
.flair-loki {
  background-image: url(%%flair-characters3%%);
  text-indent: 25px;
  width: 21px;
  margin-right: 29px;
  padding-top: 27px;
  background-position: -303px -9px;
}
.flair-warmachine {
  background-image: url(%%flair-characters3%%);
  text-indent: 20px;
  width: 21px;
  margin-right: 70px;
  padding-top: 27px;
  background-position: -1px -50px;
}
.flair-redskull {
  background-image: url(%%flair-characters3%%);
  text-indent: 21px;
  width: 21px;
  margin-right: 53px;
  padding-top: 27px;
  background-position: -24px -50px;
}
.flair-deadpool {
  background-image: url(%%flair-characters3%%);
  text-indent: 21px;
  width: 19px;
  margin-right: 53px;
  padding-top: 23px;
  background-position: -49px -54px;
}
.flair-starlord {
  background-image: url(%%flair-characters3%%);
  text-indent: 21px;
  width: 23px;
  margin-right: 53px;
  padding-top: 28px;
  background-position: -74px -49px;
}
.flair-hellboy {
  background-image: url(%%flair-characters3%%);
  text-indent: 25px;
  width: 22px;
  margin-right: 38px;
  padding-top: 25px;
  background-position: -102px -52px;
}
.flair-therumor {
  background-image: url(%%flair-characters3%%);
  text-indent: 25px;
  width: 22px;
  margin-right: 58px;
  padding-top: 25px;
  background-position: -129px -52px;
}
.flair-squirrelgirl {
  background-image: url(%%flair-characters3%%);
  text-indent: 25px;
  width: 29px;
  margin-right: 58px;
  padding-top: 25px;
  background-position: -156px -52px;
}
.flair-deadman {
  background-image: url(%%flair-characters3%%);
  text-indent: 22px;
  width: 23px;
  margin-right: 53px;
  padding-top: 23px;
  background-position: -189px -54px;
}
.flair-rickgrimes {
  background-image: url(%%flair-characters3%%);
  text-indent: 30px;
  width: 24px;
  height: 17px;
  padding-top: 25px;
  margin-right: 57px;
  background-position: -216px -47px;
}
.flair-iceman {
  background-image: url(%%flair-characters3%%);
  text-indent: 20px;
  width: 22px;
  margin-right: 38px;
  padding-top: 24px;
  background-position: -249px -54px;
}
.flair-gambit2 {
  background-image: url(%%flair-characters3%%);
  text-indent: 22px;
  width: 25px;
  margin-right: 40px;
  padding-top: 24px;
  background-position: 0px -90px;
}
.flair-cable {
  background-image: url(%%flair-characters3%%);
  text-indent: 18px;
  width: 19px;
  margin-right: 38px;
  padding-top: 23px;
  background-position: -30px -90px;
}
.flair-aquaman {
  background-image: url(%%flair-characters3%%);
  text-indent: 20px;
  width: 19px;
  margin-right: 53px;
  padding-top: 24px;
  background-position: -54px -90px;
}
.flair-martianmanhunter {
  background-image: url(%%flair-characters3%%);
  text-indent: 24px;
  width: 20px;
  margin-right: 101px;
  padding-top: 24px;
  background-position: -78px -88px;
}
.flair-spiderj1 {
  background-image: url(%%flair-characters3%%);
  text-indent: 20px;
  width: 20px;
  margin-right: 87px;
  padding-top: 26px;
  background-position: -102px -88px;
}
.flair-powergirl {
  background-image: url(%%flair-characters3%%);
  text-indent: 20px;
  width: 23px;
  margin-right: 50px;
  padding-top: 26px;
  background-position: -127px -88px;
}
.flair-cyclops {
  background-image: url(%%flair-characters3%%);
  text-indent: 21px;
  width: 18px;
  margin-right: 53px;
  padding-top: 25px;
  background-position: -156px -88px;
}
.flair-magneto {
  background-image: url(%%flair-characters3%%);
  text-indent: 19px;
  width: 18px;
  margin-right: 53px;
  padding-top: 24px;
  background-position: -180px -89px;
}
.flair-xavier {
  background-image: url(%%flair-characters3%%);
  text-indent: 20px;
  width: 20px;
  margin-right: 53px;
  padding-top: 25px;
  background-position: -203px -89px;
}
.flair-yorickbrown {
  background-image: url(%%flair-characters3%%);
  text-indent: 20px;
  width: 20px;
  margin-right: 58px;
  padding-top: 24px;
  background-position: -228px -90px;
}
.flair-kittypryde {
  background-image: url(%%flair-characters3%%);
  text-indent: 25px;
  width: 25px;
  margin-right: 60px;
  padding-top: 26px;
  background-position: -1px -128px;
}
.flair-colossus {
  background-image: url(%%flair-characters3%%);
  text-indent: 18px;
  width: 19px;
  margin-right: 53px;
  padding-top: 26px;
  background-position: -32px -130px;
}
.flair-wonderwoman {
  background-image: url(%%flair-characters3%%);
  text-indent: 24px;
  width: 25px;
  margin-right: 85px;
  padding-top: 26px;
  background-position: -56px -130px;
}
.flair-greenlantern {
  background-image: url(%%flair-characters3%%);
  text-indent: 20px;
  width: 20px;
  margin-right: 68px;
  padding-top: 26px;
  background-position: -85px -129px;
}
.flair-hawkman {
  background-image: url(%%flair-characters3%%);
  text-indent: 25px;
  width: 26px;
  margin-right: 30px;
  padding-top: 28px;
  background-position: -110px -128px;
}
.flair-silkspectre {
  background-image: url(%%flair-characters3%%);
  text-indent: 23px;
  width: 20px;
  margin-right: 53px;
  padding-top: 27px;
  background-position: -142px -128px;
}
.flair-rorschach {
  background-image: url(%%flair-characters3%%);
  text-indent: 23px;
  width: 26px;
  margin-right: 53px;
  padding-top: 29px;
  background-position: -168px -126px;
}
.flair-drmanhattan {
  background-image: url(%%flair-characters3%%);
  text-indent: 20px;
  width: 20px;
  margin-right: 60px;
  padding-top: 27px;
  background-position: -201px -126px;
}
.flair-thecomedian {
  background-image: url(%%flair-characters3%%);
  text-indent: 21px;
  width: 19px;
  margin-right: 73px;
  padding-top: 24px;
  background-position: -227px -132px;
}
.flair-niteowl {
  background-image: url(%%flair-characters3%%);
  text-indent: 21px;
  width: 19px;
  height: 15px;
  margin-right: 54px;
  padding-top: 27px;
  background-position: -251px -129px;
}
.flair-ozymandias {
  background-image: url(%%flair-characters3%%);
  text-indent: 20px;
  width: 19px;
  margin-right: 54px;
  padding-top: 24px;
  background-position: -2px -174px;
}
.flair-abesapien {
  background-image: url(%%flair-characters3%%);
  text-indent: 21px;
  width: 21px;
  margin-right: 58px;
  padding-top: 23px;
  background-position: -25px -174px;
}
.flair-venom2 {
  background-image: url(%%flair-characters3%%);
  text-indent: 21px;
  width: 21px;
  margin-right: 58px;
  padding-top: 25px;
  background-position: -50px -173px;
}
.flair-captainmarvel {
  background-image: url(%%flair-characters3%%);
  text-indent: 24px;
  width: 20px;
  margin-right: 72px;
  padding-top: 22px;
  background-position: -76px -173px;
}
.flair-pymwasp {
  background-image: url(%%flair-characters3%%);
  text-indent: 22px;
  width: 22px;
  margin-right: 78px;
  padding-top: 26px;
  height: 13px;
  background-position: -100px -171px;
}
.flair-johnprophet {
  background-image: url(%%flair-characters3%%);
  text-indent: 23px;
  width: 22px;
  margin-right: 68px;
  padding-top: 22px;
  background-position: -124px -174px;
}
.flair-greenhornet {
  background-image: url(%%flair-characters3%%);
  text-indent: 22px;
  width: 22px;
  margin-right: 78px;
  padding-top: 29px;
  background-position: -149px -166px;
}
.flair-bloodshot {
  background-image: url(%%flair-characters3%%);
  text-indent: 20px;
  width: 21px;
  margin-right: 50px;
  padding-top: 24px;
  background-position: -177px -173px;
}
.flair-punisher {
  background-image: url(%%flair-characters3%%);
  text-indent: 22px;
  width: 22px;
  margin-right: 45px;
  padding-top: 24px;
  background-position: -200px -173px;
}
.flair-sinestro {
  background-image: url(%%flair-characters3%%);
  text-indent: 20px;
  width: 20px;
  margin-right: 49px;
  padding-top: 24px;
  background-position: -225px -173px;
}

/* end 3 */
/* 4 */

.flair-captainmarvel3 {
  background-image: url(%%flair-characters4%%);
  text-indent: 23px;
  width: 20px;
  margin-right: 74px;
  padding-top: 23px;
  background-position: -2px -24px;
}
.flair-oracle {
  background-image: url(%%flair-characters4%%);
  text-indent: 22px;
  width: 22px;
  margin-right: 38px;
  padding-top: 24px;
  background-position: -24px -24px;
}
.flair-saintwalker {
  background-image: url(%%flair-characters4%%);
  text-indent: 22px;
  width: 22px;
  margin-right: 70px;
  padding-top: 24px;
  background-position: -48px -23px;
}
.flair-ultimatespiderman {
  background-image: url(%%flair-characters4%%);
  text-indent: 21px;
  width: 22px;
  margin-right: 104px;
  padding-top: 25px;
  background-position: -72px -22px;
}
.flair-larfleeze {
  background-image: url(%%flair-characters4%%);
  text-indent: 21px;
  width: 22px;
  margin-right: 48px;
  padding-top: 25px;
  background-position: -96px -22px;
}
.flair-atrocitus {
  background-image: url(%%flair-characters4%%);
  text-indent: 21px;
  width: 21px;
  margin-right: 48px;
  padding-top: 25px;
  background-position: -121px -22px;
}
.flair-kilowog {
  background-image: url(%%flair-characters4%%);
  text-indent: 23px;
  width: 22px;
  margin-right: 48px;
  padding-top: 25px;
  background-position: -144px -22px;
}
.flair-swampthing {
  background-image: url(%%flair-characters4%%);
  text-indent: 35px;
  width: 32px;
  margin-right: 69px;
  padding-top: 44px;
  background-position: -170px -2px;
}
.flair-swampthing2 {
  background-image: url(%%flair-characters4%%);
  text-indent: 37px;
  width: 33px;
  margin-right: 78px;
  padding-top: 32px;
  background-position: -205px -14px;
}
.flair-xforcewolv {
  background-image: url(%%flair-characters4%%);
  text-indent: 23px;
  width: 24px;
  margin-right: 103px;
  padding-top: 29px;
  background-position: -242px -19px;
}
.flair-redhood {
  background-image: url(%%flair-characters4%%);
  text-indent: 20px;
  width: 19px;
  margin-right: 50px;
  padding-top: 25px;
  background-position: -2px -68px;
}
.flair-alan-moore {
  background-image: url(%%flair-characters4%%);
  text-indent: 23px;
  width: 24px;
  margin-right: 55px;
  padding-top: 25px;
  background-position: -26px -68px;
}
.flair-solomon {
  background-image: url(%%flair-characters4%%);
  text-indent: 30px;
  width: 32px;
  margin-right: 84px;
  padding-top: 33px;
  background-position: -53px -59px;
}
.flair-constantine {
  background-image: url(%%flair-characters4%%);
  text-indent: 20px;
  width: 21px;
  margin-right: 88px;
  padding-top: 25px;
  background-position: -90px -68px;
}
.flair-td-redrobin {
  background-image: url(%%flair-characters4%%);
  text-indent: 20px;
  width: 21px;
  margin-right: 112px;
  padding-top: 25px;
  background-position: -115px -68px;
}
.flair-animalman {
  background-image: url(%%flair-characters4%%);
  text-indent: 20px;
  width: 21px;
  margin-right: 60px;
  padding-top: 25px;
  background-position: -139px -68px;
}
.flair-bluebeetle {
  background-image: url(%%flair-characters4%%);
  text-indent: 20px;
  width: 21px;
  margin-right: 65px;
  padding-top: 25px;
  background-position: -163px -68px;
}
.flair-silversurfer {
  background-image: url(%%flair-characters4%%);
  text-indent: 34px;
  width: 30px;
  margin-right: 71px;
  padding-top: 27px;
  background-position: -188px -65px;
}
.flair-michaelangelo {
  background-image: url(%%flair-characters4%%);
  text-indent: 29px;
  width: 28px;
  margin-right: 73px;
  padding-top: 25px;
  background-position: -222px -68px;
}
.flair-leonardo {
  background-image: url(%%flair-characters4%%);
  text-indent: 29px;
  width: 28px;
  margin-right: 50px;
  padding-top: 25px;
  background-position: -256px -68px;
}
.flair-donatello {
  background-image: url(%%flair-characters4%%);
  text-indent: 29px;
  width: 28px;
  margin-right: 50px;
  padding-top: 25px;
  background-position: -2px -114px;
}
.flair-raphael {
  background-image: url(%%flair-characters4%%);
  text-indent: 29px;
  width: 27px;
  margin-right: 44px;
  padding-top: 25px;
  background-position: -36px -114px;
}
.flair-galactus {
  background-image: url(%%flair-characters4%%);
  text-indent: 26px;
  width: 34px;
  margin-right: 44px;
  padding-top: 33px;
  background-position: -70px -106px;
}
.flair-kickass {
  background-image: url(%%flair-characters4%%);
  text-indent: 20px;
  width: 21px;
  margin-right: 48px;
  padding-top: 25px;
  background-position: -107px -113px;
}
.flair-silverbatman {
  background-image: url(%%flair-characters4%%);
  text-indent: 29px;
  width: 28px;
  margin-right: 98px;
  padding-top: 27px;
  background-position: -132px -113px;
}
.flair-guygardner {
  background-image: url(%%flair-characters4%%);
  text-indent: 21px;
  width: 21px;
  margin-right: 68px;
  padding-top: 25px;
  background-position: -162px -113px;
}
.flair-kylerayner {
  background-image: url(%%flair-characters4%%);
  text-indent: 20px;
  width: 21px;
  margin-right: 70px;
  padding-top: 25px;
  background-position: -187px -113px;
}
.flair-johnstewart {
  background-image: url(%%flair-characters4%%);
  text-indent: 19px;
  width: 19px;
  margin-right: 70px;
  padding-top: 25px;
  background-position: -212px -114px;
}
.flair-aquaman90 {
  background-image: url(%%flair-characters4%%);
  text-indent: 21px;
  width: 21px;
  margin-right: 70px;
  padding-top: 25px;
  background-position: -236px -114px;
}
.flair-starman {
  background-image: url(%%flair-characters4%%);
  text-indent: 21px;
  width: 19px;
  margin-right: 50px;
  padding-top: 25px;
  background-position: -261px -114px;
}
.flair-damianwayne {
  background-image: url(%%flair-characters4%%);
  text-indent: 26px;
  width: 24px;
  margin-right: 80px;
  padding-top: 25px;
  background-position: -2px -155px;
}
.flair-profpyg {
  background-image: url(%%flair-characters4%%);
  text-indent: 20px;
  width: 24px;
  margin-right: 70px;
  padding-top: 25px;
  background-position: -30px -156px;
}
.flair-invincible {
  background-image: url(%%flair-characters4%%);
  text-indent: 18px;
  width: 20px;
  margin-right: 55px;
  padding-top: 25px;
  background-position: -58px -156px;
}
.flair-metron {
  background-image: url(%%flair-characters4%%);
  text-indent: 19px;
  width: 20px;
  margin-right: 40px;
  padding-top: 25px;
  background-position: -82px -156px;
}
.flair-skinnersweet {
  background-image: url(%%flair-characters4%%);
  text-indent: 26px;
  width: 27px;
  margin-right: 73px;
  padding-top: 30px;
  background-position: -105px -152px;
}
.flair-pearljones {
  background-image: url(%%flair-characters4%%);
  text-indent: 20px;
  width: 23px;
  margin-right: 61px;
  padding-top: 25px;
  background-position: -138px -155px;
}
.flair-batgirl {
  background-image: url(%%flair-characters4%%);
  text-indent: 42px;
  width: 37px;
  margin-right: 43px;
  padding-top: 25px;
  background-position: -165px -155px;
}
.flair-impulse {
  background-image: url(%%flair-characters4%%);
  text-indent: 21px;
  width: 23px;
  margin-right: 30px;
  padding-top: 25px;
  background-position: -207px -156px;
}
.flair-kaine {
  background-image: url(%%flair-characters4%%);
  text-indent: 20px;
  width: 20px;
  margin-right: 30px;
  padding-top: 26px;
  background-position: -233px -156px;
}
.flair-chasesteim {
  background-image: url(%%flair-characters4%%);
  text-indent: 22px;
  width: 22px;
  margin-right: 65px;
  padding-top: 26px;
  background-position: -258px -156px;
}
.flair-karolinadean {
  background-image: url(%%flair-characters4%%);
  text-indent: 22px;
  width: 21px;
  margin-right: 75px;
  padding-top: 26px;
  background-position: -2px -195px;
}
.flair-alexwilder {
  background-image: url(%%flair-characters4%%);
  text-indent: 22px;
  width: 23px;
  margin-right: 56px;
  padding-top: 28px;
  background-position: -27px -194px;
}
.flair-nicominoru {
  background-image: url(%%flair-characters4%%);
  text-indent: 24px;
  width: 23px;
  margin-right: 61px;
  padding-top: 27px;
  background-position: -56px -194px;
}
.flair-mollyhayes {
  background-image: url(%%flair-characters4%%);
  text-indent: 22px;
  width: 20px;
  margin-right: 48px;
  padding-top: 26px;
  background-position: -83px -196px;
}

/* Kid-Flash?? */

.flair-superboy {
  background-image: url(%%flair-characters4%%);
  text-indent: 23px;
  width: 21px;
  margin-right: 55px;
  padding-top: 25px;
  background-position: -132px -196px;
}
.flair-gertrudeyorkes {
  background-image: url(%%flair-characters4%%);
  text-indent: 23px;
  width: 23px;
  margin-right: 83px;
  padding-top: 25px;
  background-position: -157px -196px;
}
.flair-victormancha {
  background-image: url(%%flair-characters4%%);
  text-indent: 22px;
  width: 23px;
  margin-right: 75px;
  padding-top: 25px;
  background-position: -183px -196px;
}
.flair-xavin {
  background-image: url(%%flair-characters4%%);
  text-indent: 20px;
  width: 20px;
  margin-right: 48px;
  padding-top: 25px;
  background-position: -209px -196px;
}
.flair-klaraprast {
  background-image: url(%%flair-characters4%%);
  text-indent: 21px;
  width: 19px;
  margin-right: 58px;
  padding-top: 25px;
  background-position: -233px -196px;
}

/* end 4 */
/* 5 */
.flair-nightcrawler {
  background-image: url(%%flair-characters5%%);
  text-indent: 24px;
  width: 23px;
  margin-right: 68px;
  padding-top: 26px;
  background-position: -1px -2px;
}
.flair-redtornado {
  background-image: url(%%flair-characters5%%);
  text-indent: 38px;
  width: 39px;
  margin-right: 63px;
  padding-top: 25px;
  background-position: -31px -2px;
}
.flair-grifter {
  background-image: url(%%flair-characters5%%);
  text-indent: 19px;
  width: 22px;
  margin-right: 38px;
  padding-top: 25px;
  background-position: -75px -2px;
}
.flair-whitenickfury {
  background-image: url(%%flair-characters5%%);
  text-indent: 18px;
  width: 19px;
  margin-right: 52px;
  padding-top: 25px;
  background-position: -102px -2px;
}
.flair-rocketraccoon {
  background-image: url(%%flair-characters5%%);
  text-indent: 20px;
  width: 23px;
  margin-right: 48px;
  padding-top: 25px;
  background-position: -126px -2px;
}
.flair-fantomex {
  background-image: url(%%flair-characters5%%);
  text-indent: 21px;
  width: 21px;
  margin-right: 55px;
  padding-top: 25px;
  background-position: -152px -2px;
}
.flair-docock {
  background-image: url(%%flair-characters5%%);
  text-indent: 41px;
  width: 38px;
  margin-right: 50px;
  padding-top: 25px;
  background-position: -177px -2px;
}
.flair-greengoblin {
  background-image: url(%%flair-characters5%%);
  text-indent: 26px;
  width: 28px;
  margin-right: 48px;
  padding-top: 25px;
  background-position: -220px -1px;
}
.flair-thanos {
  background-image: url(%%flair-characters5%%);
  text-indent: 21px;
  width: 20px;
  margin-right: 48px;
  padding-top: 25px;
  background-position: -251px -3px;
}
.flair-cloak {
  background-image: url(%%flair-characters5%%);
  text-indent: 24px;
  width: 26px;
  margin-right: 35px;
  padding-top: 25px;
  background-position: -275px -2px;
}
.flair-scarletspider {
  background-image: url(%%flair-characters5%%);
  text-indent: 20px;
  width: 20px;
  margin-right: 109px;
  padding-top: 25px;
  background-position: -1px -48px;
}
.flair-condimentking {
  background-image: url(%%flair-characters5%%);
  text-indent: 24px;
  width: 25px;
  margin-right: 88px;
  padding-top: 25px;
  background-position: -25px -48px;
}
.flair-killercroc {
  background-image: url(%%flair-characters5%%);
  text-indent: 20px;
  width: 20px;
  margin-right: 64px;
  padding-top: 25px;
  background-position: -55px -48px;
}
.flair-killercroc2 {
  background-image: url(%%flair-characters5%%);
  text-indent: 34px;
  width: 33px;
  margin-right: 64px;
  padding-top: 34px;
  background-position: -79px -39px;
}
.flair-bane {
  background-image: url(%%flair-characters5%%);
  text-indent: 21px;
  width: 20px;
  margin-right: 30px;
  padding-top: 25px;
  background-position: -116px -48px;
}
.flair-bane2 {
  background-image: url(%%flair-characters5%%);
  text-indent: 30px;
  width: 34px;
  margin-right: 40px;
  padding-top: 35px;
  background-position: -138px -38px;
}
.flair-modok {
  background-image: url(%%flair-characters5%%);
  text-indent: 49px;
  width: 47px;
  margin-right: 63px;
  padding-top: 35px;
  background-position: -175px -38px;
}
.flair-darkseid {
  background-image: url(%%flair-characters5%%);
  text-indent: 20px;
  width: 21px;
  margin-right: 48px;
  padding-top: 25px;
  background-position: -224px -48px;
}
.flair-spidermanstealth {
  background-image: url(%%flair-characters5%%);
  text-indent: 20px;
  width: 20px;
  margin-right: 111px;
  padding-top: 25px;
  background-position: -249px -48px;
}
.flair-adamwarlock {
  background-image: url(%%flair-characters5%%);
  text-indent: 32px;
  width: 26px;
  margin-right: 80px;
  padding-top: 25px;
  background-position: -274px -48px;
}
.flair-grendelprime {
  background-image: url(%%flair-characters5%%);
  text-indent: 18px;
  width: 21px;
  margin-right: 78px;
  padding-top: 25px;
  background-position: -1px -89px;
}
.flair-blackbolt {
  background-image: url(%%flair-characters5%%);
  text-indent: 18px;
  width: 20px;
  margin-right: 58px;
  padding-top: 25px;
  background-position: -25px -90px;
}
.flair-atomicrobo {
  background-image: url(%%flair-characters5%%);
  text-indent: 19px;
  width: 20px;
  margin-right: 68px;
  padding-top: 25px;
  background-position: -50px -90px;
}
.flair-themaxx {
  background-image: url(%%flair-characters5%%);
  text-indent: 19px;
  width: 20px;
  margin-right: 55px;
  padding-top: 25px;
  background-position: -74px -90px;
}
.flair-madman {
  background-image: url(%%flair-characters5%%);
  text-indent: 20px;
  width: 21px;
  margin-right: 46px;
  padding-top: 26px;
  background-position: -97px -90px;
}
.flair-savagedragon {
  background-image: url(%%flair-characters5%%);
  text-indent: 20px;
  width: 21px;
  margin-right: 83px;
  padding-top: 29px;
  background-position: -121px -86px;
}
.flair-marv {
  background-image: url(%%flair-characters5%%);
  text-indent: 23px;
  width: 21px;
  margin-right: 78px;
  padding-top: 25px;
  background-position: -147px -89px;
}
.flair-thequestion {
  background-image: url(%%flair-characters5%%);
  text-indent: 23px;
  width: 23px;
  margin-right: 70px;
  padding-top: 29px;
  background-position: -172px -86px;
}
.flair-drdoom {
  background-image: url(%%flair-characters5%%);
  text-indent: 22px;
  width: 23px;
  margin-right: 48px;
  padding-top: 27px;
  background-position: -198px -88px;
}
.flair-jonahhex {
  background-image: url(%%flair-characters5%%);
  text-indent: 25px;
  width: 28px;
  margin-right: 52px;
  padding-top: 29px;
  background-position: -226px -86px;
}
.flair-greenarrow {
  background-image: url(%%flair-characters5%%);
  text-indent: 22px;
  width: 23px;
  margin-right: 67px;
  padding-top: 27px;
  background-position: -1px -134px;
}
.flair-hawkeye-aja {
  background-image: url(%%flair-characters5%%);
  text-indent: 19px;
  width: 22px;
  margin-right: 48px;
  padding-top: 25px;
  background-position: -30px -136px;
}
.flair-flexmentello {
  background-image: url(%%flair-characters5%%);
  text-indent: 20px;
  width: 19px;
  margin-right: 70px;
  padding-top: 25px;
  background-position: -55px -136px;
}
.flair-deadshot {
  background-image: url(%%flair-characters5%%);
  text-indent: 18px;
  width: 19px;
  margin-right: 52px;
  padding-top: 25px;
  background-position: -80px -136px;
}
.flair-mysterio {
  background-image: url(%%flair-characters5%%);
  text-indent: 23px;
  width: 23px;
  margin-right: 47px;
  padding-top: 25px;
  background-position: -103px -136px;
}
.flair-wiccan {
  background-image: url(%%flair-characters5%%);
  text-indent: 21px;
  width: 20px;
  margin-right: 40px;
  padding-top: 25px;
  background-position: -132px -136px;
}
.flair-manthing {
  background-image: url(%%flair-characters5%%);
  text-indent: 28px;
  width: 31px;
  margin-right: 57px;
  padding-top: 34px;
  background-position: -156px -127px;
}
.flair-luthorstrode {
  background-image: url(%%flair-characters5%%);
  text-indent: 21px;
  width: 23px;
  margin-right: 70px;
  padding-top: 26px;
  background-position: -191px -136px;
}
.flair-cerebus {
  background-image: url(%%flair-characters5%%);
  text-indent: 25px;
  width: 23px;
  margin-right: 48px;
  padding-top: 28px;
  background-position: -220px -134px;
}
.flair-phantomstranger {
  background-image: url(%%flair-characters5%%);
  text-indent: 22px;
  width: 23px;
  margin-right: 94px;
  padding-top: 29px;
  background-position: -248px -132px;
}
.flair-chamber {
  background-image: url(%%flair-characters5%%);
  text-indent: 30px;
  width: 42px;
  margin-right: 42px;
  padding-top: 28px;
  background-position: -2px -174px;
}
.flair-heman {
  background-image: url(%%flair-characters5%%);
  text-indent: 20px;
  width: 23px;
  margin-right: 38px;
  padding-top: 25px;
  background-position: -47px -177px;
}
.flair-juggernaut {
  background-image: url(%%flair-characters5%%);
  text-indent: 21px;
  width: 19px;
  margin-right: 60px;
  padding-top: 25px;
  background-position: -74px -177px;
}
.flair-conan {
  background-image: url(%%flair-characters5%%);
  text-indent: 22px;
  width: 23px;
  margin-right: 36px;
  padding-top: 25px;
  background-position: -97px -176px;
} /* end old characters */
.flair-alana {
  background-image: url(%%flair-characters5%%);
  text-indent: 22px;
  width: 23px;
  margin-right: 30px;
  padding-top: 25px;
  background-position: -126px -177px;
}
.flair-marko {
  background-image: url(%%flair-characters5%%);
  text-indent: 25px;
  width: 29px;
  margin-right: 30px;
  padding-top: 25px;
  background-position: -154px -177px;
}
.flair-thewill {
  background-image: url(%%flair-characters5%%);
  text-indent: 25px;
  width: 23px;
  margin-right: 41px;
  padding-top: 25px;
  background-position: -190px -177px;
}
.flair-tonychu {
  background-image: url(%%flair-characters5%%);
  text-indent: 20px;
  width: 21px;
  margin-right: 44px;
  padding-top: 25px;
  background-position: -217px -177px;
}
.flair-spidey2099 {
  background-image: url(%%flair-characters5%%);
  text-indent: 17px;
  width: 18px;
  margin-right: 61px;
  padding-top: 25px;
  background-position: -244px -177px;
}
.flair-dream {
  background-image: url(%%flair-characters5%%);
  text-indent: 21px;
  width: 23px;
  margin-right: 36px;
  padding-top: 25px;
  background-position: -267px -176px;
}

/* end 5 */
/* 6 */
.flair-death {
  background-image: url(%%flair-characters6%%);
  text-indent: 21px;
  width: 23px;
  margin-right: 36px;
  padding-top: 25px;
  background-position: -2px -8px;
}
.flair-lucifer {
  background-image: url(%%flair-characters6%%);
  text-indent: 33px;
  width: 33px;
  margin-right: 36px;
  padding-top: 25px;
  background-position: -29px -9px;
}
.flair-xforcedeadpool {
  background-image: url(%%flair-characters6%%);
  text-indent: 20px;
  width: 20px;
  margin-right: 92px;
  padding-top: 25px;
  background-position: -65px -9px;
}
.flair-apocalypse {
  background-image: url(%%flair-characters6%%);
  text-indent: 19px;
  width: 21px;
  margin-right: 56px;
  padding-top: 25px;
  background-position: -89px -9px;
}
.flair-thepenguin {
  background-image: url(%%flair-characters6%%);
  text-indent: 24px;
  width: 26px;
  margin-right: 60px;
  padding-top: 33px;
  background-position: -114px -1px;
}
.flair-blackflash {
  background-image: url(%%flair-characters6%%);
  text-indent: 24px;
  width: 28px;
  margin-right: 52px;
  padding-top: 27px;
  background-position: -150px -7px;
}
.flair-grantmorrison {
  background-image: url(%%flair-characters6%%);
  text-indent: 21px;
  width: 22px;
  margin-right: 74px;
  padding-top: 26px;
  background-position: -180px -8px;
}
.flair-tyreese {
  background-image: url(%%flair-characters6%%);
  text-indent: 21px;
  width: 20px;
  margin-right: 41px;
  padding-top: 25px;
  background-position: -205px -8px;
}
.flair-michonne {
  background-image: url(%%flair-characters6%%);
  text-indent: 23px;
  width: 25px;
  margin-right: 47px;
  padding-top: 25px;
  background-position: -230px -8px;
}
.flair-glenn {
  background-image: url(%%flair-characters6%%);
  text-indent: 21px;
  width: 23px;
  margin-right: 30px;
  padding-top: 25px;
  background-position: -259px -8px;
}
.flair-genericwalker {
  background-image: url(%%flair-characters6%%);
  text-indent: 21px;
  width: 20px;
  margin-right: 79px;
  padding-top: 26px;
  background-position: -1px -52px;
}
.flair-scottpilgrim {
  background-image: url(%%flair-characters6%%);
  text-indent: 21px;
  width: 23px;
  margin-right: 65px;
  padding-top: 25px;
  background-position: -27px -51px;
}
.flair-ramonaflowers {
  background-image: url(%%flair-characters6%%);
  text-indent: 24px;
  width: 23px;
  margin-right: 70px;
  padding-top: 26px;
  background-position: -54px -51px;
}
.flair-ampersand {
  background-image: url(%%flair-characters6%%);
  text-indent: 34px;
  width: 29px;
  margin-right: 63px;
  padding-top: 27px;
  background-position: -82px -51px;
}
.flair-themask {
  background-image: url(%%flair-characters6%%);
  text-indent: 25px;
  width: 31px;
  margin-right: 45px;
  padding-top: 27px;
  background-position: -116px -51px;
}
.flair-andrewbennett {
  background-image: url(%%flair-characters6%%);
  text-indent: 22px;
  width: 21px;
  margin-right: 81px;
  padding-top: 25px;
  background-position: -150px -52px;
}
.flair-x23 {
  background-image: url(%%flair-characters6%%);
  text-indent: 20px;
  width: 23px;
  margin-right: 24px;
  padding-top: 27px;
  background-position: -176px -51px;
}
.flair-stephaniebrownbatgirl {
  background-image: url(%%flair-characters6%%);
  text-indent: 38px;
  width: 37px;
  margin-right: 125px;
  padding-top: 26px;
  background-position: -204px -50px;
}
.flair-blackcanary {
  background-image: url(%%flair-characters6%%);
  text-indent: 22px;
  width: 27px;
  margin-right: 65px;
  padding-top: 26px;
  background-position: -245px -52px;
}
.flair-devildinosaur {
  background-image: url(%%flair-characters6%%);
  text-indent: 36px;
  width: 32px;
  margin-right: 82px;
  padding-top: 33px;
  background-position: -276px -45px;
}
.flair-moonboy {
  background-image: url(%%flair-characters6%%);
  text-indent: 26px;
  width: 28px;
  margin-right: 44px;
  padding-top: 26px;
  background-position: -2px -104px;
}
.flair-howardtheduck {
  background-image: url(%%flair-characters6%%);
  text-indent: 20px;
  width: 23px;
  margin-right: 90px;
  padding-top: 29px;
  background-position: -36px -100px;
}
.flair-new52omac {
  background-image: url(%%flair-characters6%%);
  text-indent: 23px;
  width: 23px;
  margin-right: 69px;
  padding-top: 40px;
  background-position: -64px -90px;
}
.flair-arseface {
  background-image: url(%%flair-characters6%%);
  text-indent: 21px;
  width: 19px;
  margin-right: 48px;
  padding-top: 25px;
  background-position: -91px -104px;
}
.flair-blackadam {
  background-image: url(%%flair-characters6%%);
  text-indent: 20px;
  width: 20px;
  margin-right: 61px;
  padding-top: 25px;
  background-position: -115px -104px;
}
.flair-jessecuster {
  background-image: url(%%flair-characters6%%);
  text-indent: 21px;
  width: 23px;
  margin-right: 63px;
  padding-top: 25px;
  background-position: -138px -105px;
}
.flair-saintofkillers {
  background-image: url(%%flair-characters6%%);
  text-indent: 25px;
  width: 27px;
  margin-right: 74px;
  padding-top: 29px;
  background-position: -166px -100px;
}
.flair-brainiac5 {
  background-image: url(%%flair-characters6%%);
  text-indent: 21px;
  width: 19px;
  margin-right: 55px;
  padding-top: 26px;
  background-position: -197px -103px;
}
.flair-deathstroke {
  background-image: url(%%flair-characters6%%);
  text-indent: 28px;
  width: 28px;
  margin-right: 63px;
  padding-top: 26px;
  background-position: -222px -104px;
}
.flair-mitchellhundred {
  background-image: url(%%flair-characters6%%);
  text-indent: 21px;
  width: 23px;
  margin-right: 84px;
  padding-top: 25px;
  background-position: -255px -104px;
}
.flair-captainatom {
  background-image: url(%%flair-characters6%%);
  text-indent: 21px;
  width: 21px;
  margin-right: 69px;
  padding-top: 25px;
  background-position: 1px -154px;
}
.flair-captainmarvel4 {
  background-image: url(%%flair-characters6%%);
  text-indent: 21px;
  width: 22px;
  margin-right: 75px;
  padding-top: 25px;
  background-position: -24px -154px;
}
.flair-directorbones {
  background-image: url(%%flair-characters6%%);
  text-indent: 20px;
  width: 20px;
  margin-right: 75px;
  padding-top: 25px;
  background-position: -49px -154px;
}
.flair-bullseye {
  background-image: url(%%flair-characters6%%);
  text-indent: 19px;
  width: 19px;
  margin-right: 45px;
  padding-top: 25px;
  background-position: -74px -154px;
}
.flair-knight {
  background-image: url(%%flair-characters6%%);
  text-indent: 19px;
  width: 20px;
  margin-right: 36px;
  padding-top: 27px;
  background-position: -97px -152px;
}
.flair-squire {
  background-image: url(%%flair-characters6%%);
  text-indent: 21px;
  width: 23px;
  margin-right: 32px;
  padding-top: 38px;
  background-position: -122px -141px;
}
.flair-mistyknight {
  background-image: url(%%flair-characters6%%);
  text-indent: 21px;
  width: 27px;
  margin-right: 61px;
  padding-top: 28px;
  background-position: -150px -152px;
}
.flair-ambushbug {
  background-image: url(%%flair-characters6%%);
  text-indent: 19px;
  width: 21px;
  margin-right: 62px;
  padding-top: 37px;
  background-position: -181px -143px;
}
.flair-cannibalfuckface {
  background-image: url(%%flair-characters6%%);
  text-indent: 18px;
  width: 20px;
  margin-right: 92px;
  padding-top: 25px;
  background-position: -205px -155px;
}
.flair-kingdomcomesuperman {
  background-image: url(%%flair-characters6%%);
  text-indent: 37px;
  width: 36px;
  margin-right: 136px;
  padding-top: 25px;
  background-position: -230px -154px;
}
.flair-tankgirl {
  background-image: url(%%flair-characters6%%);
  text-indent: 21px;
  width: 21px;
  margin-right: 48px;
  padding-top: 26px;
  background-position: -2px -195px;
}
.flair-heathhuston {
  background-image: url(%%flair-characters6%%);
  text-indent: 19px;
  width: 20px;
  margin-right: 70px;
  padding-top: 27px;
  background-position: -27px -195px;
}
.flair-antivenom {
  background-image: url(%%flair-characters6%%);
  text-indent: 21px;
  width: 22px;
  margin-right: 63px;
  padding-top: 25px;
  background-position: -50px -196px;
}
.flair-cassidy {
  background-image: url(%%flair-characters6%%);
  text-indent: 20px;
  width: 21px;
  margin-right: 40px;
  padding-top: 25px;
  background-position: -75px -196px;
}
.flair-warrenellis {
  background-image: url(%%flair-characters6%%);
  text-indent: 22px;
  width: 24px;
  margin-right: 62px;
  padding-top: 30px;
  background-position: -99px -192px;
}
.flair-jimlee {
  background-image: url(%%flair-characters6%%);
  text-indent: 20px;
  width: 23px;
  margin-right: 41px;
  padding-top: 26px;
  background-position: -128px -195px;
}
.flair-batmanofzurenarrh {
  background-image: url(%%flair-characters6%%);
  text-indent: 37px;
  width: 37px;
  margin-right: 120px;
  padding-top: 27px;
  background-position: -156px -195px;
}
.flair-spaceboy {
  background-image: url(%%flair-characters6%%);
  text-indent: 20px;
  width: 21px;
  margin-right: 51px;
  padding-top: 25px;
  background-position: -197px -197px;
}
.flair-whiteviolin {
  background-image: url(%%flair-characters6%%);
  text-indent: 18px;
  width: 19px;
  margin-right: 62px;
  padding-top: 25px;
  background-position: -222px -197px;
}
.flair-franky {
  background-image: url(%%flair-characters6%%);
  text-indent: 22px;
  width: 30px;
  margin-right: 28px;
  padding-top: 30px;
  background-position: -246px -192px;
}

/* end 6 */
/* 7 */
.flair-thegoon {
  background-image: url(%%flair-characters7%%);
  text-indent: 22px;
  width: 25px;
  margin-right: 47px;
  padding-top: 30px;
  background-position: 0px 2px;
}
.flair-hawkeye2 {
  background-image: url(%%flair-characters7%%);
  text-indent: 22px;
  width: 22px;
  margin-right: 47px;
  padding-top: 30px;
  background-position: -29px 2px;
}
.flair-x {
  background-image: url(%%flair-characters7%%);
  text-indent: 22px;
  width: 20px;
  margin-right: 10px;
  padding-top: 30px;
  background-position: -55px 2px;
}
.flair-ghost {
  background-image: url(%%flair-characters7%%);
  text-indent: 22px;
  width: 25px;
  margin-right: 27px;
  padding-top: 30px;
  background-position: -80px 2px;
}
.flair-mystique {
  background-image: url(%%flair-characters7%%);
  text-indent: 22px;
  width: 25px;
  margin-right: 43px;
  padding-top: 29px;
  background-position: -110px 2px;
}
.flair-kingpin {
  background-image: url(%%flair-characters7%%);
  text-indent: 22px;
  width: 23px;
  margin-right: 37px;
  padding-top: 30px;
  background-position: -139px 2px;
}
.flair-elektra {
  background-image: url(%%flair-characters7%%);
  text-indent: 35px;
  width: 35px;
  margin-right: 37px;
  padding-top: 30px;
  background-position: -164px 2px;
}
.flair-unionjack {
  background-image: url(%%flair-characters7%%);
  text-indent: 18px;
  width: 20px;
  margin-right: 53px;
  padding-top: 30px;
  background-position: -204px 2px;
}
.flair-stanlee {
  background-image: url(%%flair-characters7%%);
  text-indent: 21px;
  width: 20px;
  margin-right: 47px;
  padding-top: 30px;
  background-position: -227px 2px;
}
.flair-fonebone {
  background-image: url(%%flair-characters7%%);
  text-indent: 20px;
  width: 19px;
  margin-right: 54px;
  padding-top: 30px;
  background-position: -251px 2px;
}
.flair-phonciblep {
  background-image: url(%%flair-characters7%%);
  text-indent: 22px;
  width: 21px;
  margin-right: 60px;
  padding-top: 30px;
  background-position: 0px -53px;
}
.flair-smileybone {
  background-image: url(%%flair-characters7%%);
  text-indent: 20px;
  width: 23px;
  margin-right: 62px;
  padding-top: 30px;
  background-position: -25px -53px;
}
.flair-andrea {
  background-image: url(%%flair-characters7%%);
  text-indent: 22px;
  width: 24px;
  margin-right: 35px;
  padding-top: 31px;
  background-position: -51px -53px;
}
.flair-simonbaz {
  background-image: url(%%flair-characters7%%);
  text-indent: 20px;
  width: 21px;
  margin-right: 28px;
  padding-top: 30px;
  background-position: -79px -54px;
}
.flair-battlepope {
  background-image: url(%%flair-characters7%%);
  text-indent: 22px;
  width: 23px;
  margin-right: 60px;
  padding-top: 43px;
  background-position: -105px -40px;
}
.flair-batmanbeyond {
  background-image: url(%%flair-characters7%%);
  text-indent: 19px;
  width: 20px;
  margin-right: 83px;
  padding-top: 30px;
  background-position: -132px -54px;
}

/* end 7 */



/* Other flair additions */

.flair-oldlace {
  background: url(%%rando%%);
  text-indent: 38px;
  width: 36px;
  margin-right: 48px;
  padding-top: 32px;
  background-position: -101px -2px;
}


/* ======== END FLAIR =========== */


/* custom flair */
.flair-gambit-mod {
  background-image: url(%%flair-characters3%%);
  text-indent: 26px;
  width: 25px;
  margin-right: 70px;
  padding-top: 22px;
  background-position: 0px -90px;
}
.flair-thebat {
  background: url(%%batman-icon%%) no-repeat;
  width: 45px;
  height: 25px;
  padding: 7px 0px 0px 30px;
  border:none;
}

/* custom mail icons */
#mail.nohavemail {
  background: url(%%nomail%%) no-repeat;
  height: 15px;
  margin-right:-5px;
  background-position: 0;
}
#mail.havemail {
  background: url(%%havemail%%) no-repeat;
  height: 15px;
  margin-right:-5px;
  background-position: 0;
}

/*flair stuff*/

.linkflair-spoilers .linkflairlabel {
  color:#FF0000 !important;
  font-size: 16px;
}
.linkflair-spoilers a.title {
  color: green !important;
}
.linkflair-review-group .linkflairlabel {
  color: yellow !important;
  background-color: #5E2605 !important;
  font-size:12px;
}
.linkflair-review-group a.title {
  color: #5E2605 !important;
}
.linkflair-warning a.title {
  color: #FF8C00 !important;
}
.linkflair-warning .linkflairlabel {
  color: #FF8C00 !important;
  font-size: 14px;
  background-color:transparent;
}
/* fixing some submission page issues */
/* mod pages*/


/*submission page*/
body.submit-page h1 {
  margin: 60px 0 0 0;
}

/* No spoilers coolness from /r/gameofthrones */
/* No Show Spoilers */
html[lang="ns"] .linkflair-spoilers {
  display: none
}
html[lang="fc"] .link {
  display: none
}
html[lang="fc"] .linkflair-fancreation {
  display:block;
}
html[lang="ce"] .link {
  display: none
}
html[lang="ce"] .linkflair-comicexcerpt {
  display:block;
}

/* NSFW Fix -> Spoiler tag */
.nsfw-stamp acronym {
  border: red 1px solid!important;
  display: inline-block;
  font-size: 0px!important;
  letter-spacing: 0px;
  overflow: hidden;
  vertical-align: bottom;
  margin-bottom: -1px;
  content: "";
}
.entry .buttons li.nsfw-stamp {
  line-height: .4em;
}
.nsfw-stamp acronym:after {
  color: red !important;
  content: "SPOILER"!important;
  font-size: x-small!important;
  text-decoration: none;
  line-height:1em;
}

.over18 .thumbnail {
  background: url(%%spoiler-image%%) no-repeat 0 0;
}
.over18 .thumbnail img {
  visibility:hidden;
}